<link rel="stylesheet" href="/css/customer-debt.css">
<div class="container__customer-debt grid__content">
  <div class="header__breadcrumb">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Theo dõi công nợ</a></li>
      </ol>
    </nav>
  </div>
  <div class="ctner__customer-debt">
    <div class="toolbar">
      <div class="search-form">
        <input type="search" value="" placeholder="Tìm kiếm" class="search-input" id="search-input">
        <button type="button" class="search-button">
              <span class="ti-search "> </span>
          </button>

      </div>
      {{!-- <div class="dropdown toolbar__filter">
        <button class=" btn dropdown-toggle toolbar__filter-btn" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        </button>
        <div class="toolbar__filter-menu dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="toolbar__filter-item dropdown-item" href="#"></a>
          <a class="toolbar__filter-item dropdown-item" href="#"></a>
          <a class="toolbar__filter-item dropdown-item" href="#"></a>
        </div>
      </div> --}}
      <button class="dropdown toolbar__btn btn btn--primary" id="btn-export-excel">Xuất Excel</button>
    </div>
    <div class="">
      <table class="table" id="data-table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#STT</th>
            <th scope="col">Họ và tên</th>
            <th scope="col">CMND</th>
            <th scope="col">Email</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Số tiền nợ</th>
            <th scope="col" colspan="2"></th>
          </tr>
        </thead>
        <tbody id="table-body">
          {{#each listdebt}}
          <tr data-id="{{this._id}}">
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.cardIdentify}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.debt}}</td>
            <td></td>
            {{!-- <td>
              <button class="btn--view-item" data-id="{{this._id}}">Xem</button>
            </td> --}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<form method="GET" name="form-view"></form>
<!-- scrip -->
{{!-- --}}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var btnView = $('.btn--view-item')
    var formView = document.forms['form-view']

    //Xuất excel
    document.getElementById('btn-export-excel').onclick = function () {
      var table2Excel = new Table2Excel()
      table2Excel.export(document.getElementById('data-table'), 'Quản lý công nợ khách hàng')
    }

    //Search
    $(document).ready(function () {
      $('#search-input').on('keyup', function (event) {
        event.preventDefault();
        /* Act on the event */
        var keyword = $(this).val().toLowerCase();
        $('#table-body tr').filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(keyword) > -1);
        });
      });
    });
    btnView.click(function () {
      formView.action = 'customerdebt/' + $(this).data('id') + '/customerdebtdetail'
      formView.submit()
    })
  })
</script>