<link rel="stylesheet" href="/css/customer-debt-detail.css">
<div class="container__customer-debt-detail">
    <div class="header__customer-debt-detail">
        <div class="header__customer-debt-detail__title">Chi Tiết Nợ Khách Hàng</div>
        <button class="header__customer-debt-detail__btn-back btn btn--primary">Quay lại</button>
    </div>
    <div class="ctner__customer-debt-detail">
        <div class="toolbar">
            <div class="search-form">
                <input type="search" value="" placeholder="Tìm kiếm" class="search-input">
                <button type="button" class="search-button">
                      <span class="ti-search "> </span>
                </button>

            </div>
            {{!-- <div class="dropdown toolbar__filter">
                <button class=" btn dropdown-toggle toolbar__filter-btn" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                </button>
                <div class="toolbar__filter-menu dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="toolbar__filter-item dropdown-item" href="#"></a>
                    <a class="toolbar__filter-item dropdown-item" href="#"></a>
                    <a class="toolbar__filter-item dropdown-item" href="#"></a>
                </div>
            </div> --}}
        </div>
        <div class="list-customer-debt-detail">
            <table class="table ">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#Stt</th>
                        <th scope="col">Biển số xe</th>
                        <th scope="col">Hiệu xe</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Ngày tiếp nhận</th>
                        <th scope="col">Số tiền nợ</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col" colspan="2"></th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {{#each listreception}}
                    <tr data-id="{{this._id}}">
                        <th scope="row">{{@index}}</th>
                        <td>{{this.license}}</td>
                        <td>{{this.brand}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.receptionDate}}</td>
                        <td>{{this.debt}}</td>
                        <td>{{this.status}}</td>
                        <td></td>
                        <td>
                            <button class="btn--view-item" data-id="{{this._id}}" data-toggle="modal"
                                data-target="#form-view-customer-debt-detail" data-id="">Xem</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- FORM XEM PHIẾU TIẾP NHẬN-->
<div class="modal fade" id="form-view-customer-debt-detail" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm phiếu tiếp nhận</h5>
        <button type="button customer-debt-detail__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="customer-debt-detail-view-name" class="col-form-label">Tên khách hàng:</label>
            <input readonly type="text" class="form-control" id="customer-debt-detail-view-name" name="customer-debt-detail-view-name">
          </div>
          <div class="form-group">
            <label for="customer-debt-detail-view-lincense" class="col-form-label">Biển số xe:</label>
            <input readonly type="text" class="form-control" id="customer-debt-detail-view-license" name="customer-debt-detail-view-lincense">
          </div>
          <div class="form-group">
            <label for="customer-debt-detail-view-phone" class="col-form-label">Số điện thoại:</label>
            <input readonly type="text" class="form-control" id="customer-debt-detail-view-phone" name="customer-debt-detail-view-phone">
          </div>
          <div class="form-group">
            <label for="customer-debt-detail-view-address" class="col-form-label">Hiệu xe:</label>
            <input readonly type="text" class="form-control" id="customer-debt-detail-view-brand" name="customer-debt-detail-view-address">
          </div>
          <div class="form-group">
            <label for="customer-debt-detail-view-receptionDate" class="col-form-label">Ngày tiếp nhận:</label>
            <input readonly type="date" class="form-control" id="customer-debt-detail-view-receptionDate"
              name="customer-debt-detail-view-address">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
<form method="GET" name="form-view"></form>
<!-- scrip -->


{{!--Search--}}
<script>
  
</script>
{{!-- --}}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    
    var btnView = $('.btn--view-item')
    var btnBack = $('.header__customer-debt-detail__btn-back')
    //Search
    $(document).ready(function () {
    $('#search-input').on('keyup', function (event) {
      event.preventDefault();
      /* Act on the event */
      var keyword = $(this).val().toLowerCase();
      $('#table-body tr').filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(keyword) > -1);
      });
    });
  });
    btnView.click(function () {
      var id = $(this).data('id')
      var rowData = $(this).parents('tr')[0]
      $('#customer-debt-detail-view-license').val(rowData.cells[1].textContent)
      $('#customer-debt-detail-view-brand').val(rowData.cells[2].textContent)
      $('#customer-debt-detail-view-name').val(rowData.cells[3].textContent)
      $('#customer-debt-detail-view-phone').val(rowData.cells[4].textContent)
      $('#customer-debt-detail-view-receptionDate').val(rowData.cells[5].textContent)
    })

    btnBack.click(function () {
        history.back()
    })
  })
</script>