
<link rel="stylesheet" href="/css/register.css">

<title>Danh sách nhân viên</title>
    <div class = "grid__content">
      <div class="header__breadcrumb">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Quản lý tài khoản</a></li>
              </ol>
          </nav>
      </div>
      <header>

        <div class="toolbar">
          <div class="toolbar__search">
            <div class="search-form">
            <input class="search-input" style="padding:.4rem" type="search " id = "searchKey" placeholder="Tìm kiếm thông tin tài khoản" aria-label="Search">
              <button type="button" class="search-button">
                <span class="ti-search "> </span>
              </button>
            </div>
          </div>
          <div class="toolbar__btn">
            <button class="header__btn-add btn btn-primary" id = "btn--add-item">Thêm tài khoản mới</button>
          </div>
        </div>
    </header>
    <body class = "register__body">
        <div class = "table-responsive">
            <table class="table table--default employeeList__body__table" id = "accountTable" >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên tài khoản</th>
                    <th scope="col">Tên nhân viên</th>
                    <th scope="col">Chức vụ</th>
                    <th scope="col"></th> 
                  </tr>
                </thead>
                <tbody>
                  
                  {{#each data}}
                  <tr accountID = "{{this.item._id}}">
                    <th scope="row">{{sum @index 1}}</th>
                    <td id = "account">{{this.item.account}}</td>
                    <td id = "name">{{this.employee.name}}</td>
                    <td id = "tag">{{this.employee.Tag}}</td>
                    <td>
                      <button class = "btn--delete-item" eID = "{{this.employee._id}}" >Xóa</i></button>
                    </td>           
                  </tr>
                  {{/each}}
                </tbody>
              </table> 
        </div>
          
          <!--Modified Modal -->
          <!--Add Modal -->
          <form method="POST" id = "form-add-account" name = "form-add">
            <div class="modal fade " id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered infoModal" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Thêm nhân viên</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id =  "test">
                  <form>
                    <div class="form-group">
                      <label for="reception-add-lincense" class="col-form-label">Tên tài khoản:</label>
                      <input type="text" class="form-control" name="account"  id = "n_account">
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-phone" class="col-form-label">Mật khẩu:</label>
                      <input type="password" class="form-control" name="password"  id = "n_password">
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-brand" class="col-form-label">Nhập lại mật khẩu</label>
                      <input type="password" class="form-control" id = "n_rePassword">
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-receptionDate" class="col-form-label">Nhân viên:</label>
                      <select class = "form-control" placeholder="" id = "n_employee" name = "of_employee" >
                            <option>--- Chọn nhân viên ---</option>
                            {{#each noAccounts}}
                            <option value="{{this.employee._id}}" tag = "{{this.employee.Tag}}" phoneNumber ="{{this.employee.phoneNumber}}" eID = "{{this.employee._id}}" class= "nOps">{{this.employee.name}}</option>
                            {{/each}}
                      </select>
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-lincense" class="col-form-label">Chức vụ:</label>
                      <input type="text" class="form-control dataStr" readonly id = "n_tag">
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-receptionDate" class="col-form-label">SĐT:</label>
                      <input type="text" class="form-control"  readonly id = "n_phoneNumber">
                      <span class="form-message"></span>
                    </div>
                    
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                  <button type="submit" class="btn btn-primary" id= "btn-add">Thêm</button>
                </div>
              </div>
            </div>
          </div>
          </form>
          <!--Delete Modal -->
          <form name="form-delete" method="POST" action="">
              <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Xóa tài khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <input type="hidden" id = "d_eID" name = "of_employee">
                    <label id = "informLabel">Bạn có chắc chắn muốn xóa tài khoản này không?</label>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger" id="btn-delete">Xóa</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
         

          
    </body>
    </div>


    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var tdActive;
        var btnAcceptAdd = $('#btn-add')
        var btnDelete = $('#btn-delete')
        var btnAcceptEdit = $('#btn-accept-edit')
        var formAdd =  document.forms['form-add']
        var formEdit = document.forms['form-edit']
        var formDelete = document.forms['form-delete']
        var formAdd = document.forms['form-add']
        var formatter = new Intl.NumberFormat('vi-VN', {
            style: 'currency',
            currency: 'VND',
          });
      var ID;
      //search
      $("#searchKey").change(function(){
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchKey");
        filter = input.value;
        table = document.getElementById("accountTable");
        tr = $("tbody tr");
        for (i = 0; i < tr.length; i++) {
          var td1 = tr[i].getElementsByTagName("td")[0];
          if (td1) {
            txtValue = td1.textContent || td1.innerText;
            filter = filter.toUpperCase();
            txtValue = txtValue.toUpperCase();
            if (txtValue.includes(filter)) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }   
        }
      })


      
      $("#btn--add-item").click(function() {
          $("#addModal").modal();
      });
    
       $('#n_employee').change(function(){
          $('#n_tag').val($('.nOps:selected').attr('tag'));
          $('#n_phoneNumber').val($('.nOps:selected').attr('phoneNumber'));
      });

      $(".btn--delete-item").click(function() {
          ID = $(this).closest("tr").attr('accountID');
          $('#d_eID').val($(this).attr('eID'));
          $("#deleteModal").modal();
      });

     Validator({
      form: '#form-add-account', // id của cái form cần validate
      errorSelector: '.form-message', // tên class để hiện cái lỗi
      rules: [
        Validator.isRequireSelectBox('#n_employee','--- Chọn nhân viên ---', 'Vui lòng chọn nhân viên'),
        Validator.isRequire('#n_account', 'Vui lòng nhập tên tài khoản'),
        Validator.isRequire('#n_password', 'Vui lòng nhập mật khẩu'),
        Validator.isRequire('#n_rePassword', 'Vui lòng nhập lại mật khẩu'),
        Validator.isDuplicate('#n_account', '#accountTable',2, 'Tên tài khoản đã tồn tại. Vui lòng nhập lại!'),
      ],
      onSubmit: function() {
          formAdd.action = 'register/create'
          formAdd.submit()
        }
      })
      //modified validator  

      

      btnDelete.click(function() {
        formDelete.action = 'register/'+  ID + '/delete?_method=DELETE'
        formDelete.submit();
      })
    });

      
    </script>