
<link rel="stylesheet" href="/css/employeeList.css">

<title>Danh sách nhân viên</title>
    <div class = "grid__content">
      <div class="header__breadcrumb">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Danh sách nhân viên</a></li>
              </ol>
          </nav>
      </div>
      <header class = "employeeList__header">

        <div class="toolbar">
          <div class="toolbar__search">
            <div class="search-form">
            <input class="search-input" style="padding:.4rem" type="search " id = "searchKey" placeholder="Tìm kiếm thông tin nhân viên" aria-label="Search">
              <button type="button" class="search-button">
                <span class="ti-search "> </span>
              </button>
            </div>
          </div>
          <div class="toolbar__btn">
            <button class="header__btn-add btn btn-primary" id = "btn--add-item">Thêm nhân viên mới</button>
          </div>
        </div>
    </header>
    <body class = "employeeList__body">
        <div class = "table-responsive">
            <table class="table employeeList__body__table" id = "employeeTable" >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Họ và Tên</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Email</th>
                    <th scope="col">CMND</th>
                    <th scope="col">Chức vụ</th>
                    <th scope="col">Ngày bắt đầu làm</th>
                    <th scope="col"></th> 
                  </tr>
                </thead>
                <tbody id="table-data"> 
                  
                  {{#each data}}
                    <tr employeeID = "{{this.item._id}}">
                      <th scope="row">{{sum @index 1}}</th>
                      <td id = "name">{{this.item.name}}</td>
                      <td id = "address">{{this.item.address}}</td>
                      <td id = "phoneNumber">{{this.item.phoneNumber}}</td>
                      <td id = "email">{{this.item.email}}</td>
                      <td id = "CMND">{{this.item.CMND}}</td>  
                      <td id = "tag">{{this.item.Tag}}</td>
                      <td id = "startDate">{{this.item.startDate}}</td>
                      <td>
                        <button class = "btn--edit-item">Sửa</i></button>
                        <button class = "btn--delete-item" eID = "{{this.item._id}}" userID ="{{this.userID}}">Xóa</i></button>
                      </td>           
                  </tr>
                  {{/each}}
                </tbody>
              </table> 
        </div>
          
          <!--Modified Modal -->
          <form method="POST" name = "form-edit" action = "" id = "form-edit-employeeList">
            <div class="modal fade " id="modifiedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered infoModal" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Chỉnh sửa</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="reception-add-lincense" class="col-form-label">Tên nhân viên:</label>
                      <input type="text" class="form-control" name="name"  id = "m_name">
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-phone" class="col-form-label">Địa chỉ:</label>
                      <input type="text" class="form-control" name="address"  id = "m_address">
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-brand" class="col-form-label">Số điện thoại</label>
                      <input type="text" class="form-control" name="phoneNumber"  id = "m_phoneNumber">
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-receptionDate" class="col-form-label">Email:</label>
                      <input type="text" class="form-control" name="email"  id = "m_email">
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-receptionDate" class="col-form-label">CMND:</label>
                      <input type="text" class="form-control" name="CMND"  id = "m_cmnd">
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-receptionDate" class="col-form-label">Chức vụ:</label>
                      <select class = "form-control" name="Tag" placeholder="" id = "m_tag">
                            <option value= "" disabled selected>--- Chọn chức vụ nhân viên ---</option>
                            {{#each tag}}
                            <option value="{{this.name}}" salary = "{{this.salary}}" percent ="{{this.percent}}" tagID = {{this._id}} class= "mOps">{{this.name}}</option>
                            {{/each}}
                      </select>
                      <input type="hidden" id = "m_tagID" name = "position">
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-lincense" class="col-form-label">Ngày bắt đầu làm:</label>
                      <input type="date" class="form-control dataStr" name="startDate" id = "m_startDate">
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-receptionDate" class="col-form-label">Lương:</label>
                      <input type="text" class="form-control" name="salary" readonly id = "m_salary">
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-receptionDate" class="col-form-label">Hệ số tăng lương:</label>
                      <input type="text" class="form-control" name="percent" readonly id = "m_percent" placeholder="%/năm">
                      <span class="form-message"></span>
                    </div>
                    
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                  <button type="submit" class="btn btn-primary" id = "btn-accept-edit">Lưu</button>
                </div>
              </div>
            </div>
          </div>
          </form>
          <!--Add Modal -->
          <form method="POST" action="create" id = "form-add-employeeList" name = "form-add">
            <div class="modal fade " id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered infoModal" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Thêm nhân viên</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id =  "test">
                  <form>
                    <div class="form-group">
                      <label for="reception-add-lincense" class="col-form-label">Tên nhân viên:</label>
                      <input type="text" class="form-control" name="name" id = 'n_name'>
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-phone" class="col-form-label">Địa chỉ:</label>
                      <input type="text" class="form-control" name="address" id = 'n_address'>
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-brand" class="col-form-label">Số điện thoại</label>
                      <input type="text" class="form-control" name="phoneNumber" id = 'n_phoneNumber'>
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-receptionDate" class="col-form-label">Email:</label>
                      <input type="text" class="form-control" name="email" id = 'n_email'>
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-receptionDate" class="col-form-label">CMND:</label>
                      <input type="text" class="form-control" name="CMND" id = 'n_cmnd'>
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-receptionDate" class="col-form-label">Chức vụ:</label>
                      <select class = "form-control" name="Tag" placeholder="" id = "n_tag">
                            <option value= "" disabled selected>--- Chọn chức vụ nhân viên ---</option>
                            {{#each tag}}
                              <option value="{{this.name}}" salary = "{{this.salary}}" percent="{{this.percent}}" tagID = {{this._id}} class= "nOps">{{this.name}}</option>
                            {{/each}}
                      </select>
                      <input type="hidden" id = "n_tagID" name = "position">
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-lincense" class="col-form-label">Ngày bắt đầu làm:</label>
                      <input type="date" class="form-control dataStr" name="startDate" id = "n_startDate">
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-receptionDate" class="col-form-label">Lương:</label>
                      <input type="text" class="form-control" name="salary" style="" readonly id = "n_salary">
                      <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                      <label for="reception-add-receptionDate" class="col-form-label">Hệ số tăng lương:</label>
                      <input type="text" class="form-control" name="percent" readonly id = "n_percent" placeholder="%/năm">
                      <span class="form-message"></span> 
                    </div>
                    <input type="hidden" class="form-control" name="haveAccount"  value = "false">
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                  <button type="submit" class="btn btn-primary" id= "btn-add">Thêm</button>
                </div>
              </div>
            </div>
          </div>
          </form>
          <!--Delete Modal -->
          <form name="form-delete" method="POST" action="">
              <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Xóa nhân viên</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <label id = "informLabel">Bạn có chắc chắn muốn xóa nhân viên không?</label>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger" id="btn-delete">Xóa</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
         

          
    </body>
    </div>


    <script>
      document.addEventListener('DOMContentLoaded', function () {
      var formatter = new Intl.NumberFormat('vi-VN', {
            style: 'currency',
            currency: 'VND',
          });
      var employeeID;
      //search
      {{!-- $("#searchKey").change(function(){
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchKey");
        filter = input.value;
        table = document.getElementById("employeeTable");
        tr = $("tbody tr");
        for (i = 0; i < tr.length; i++) {
          var td1 = tr[i].getElementsByTagName("td")[0];
          if (td1) {
            txtValue = td1.textContent || td1.innerText;
            filter = filter.toUpperCase();
            txtValue = txtValue.toUpperCase();
            if (txtValue.includes(filter)) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }   
        }
      }) --}}

      Date.prototype.toDateInputValue = (function() {
          var local = new Date(this);
          local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
          return local.toJSON().slice(0,10);
      });
      $(".btn--edit-item").click(function() {
          employeeID = $(this).closest("tr").attr('employeeID');
          $('#m_name').val($(this).closest("tr").find("#name").text());
          $('#m_address').val($(this).closest("tr").find("#address").text());
          $('#m_phoneNumber').val($(this).closest("tr").find("#phoneNumber").text());
          $('#m_email').val($(this).closest("tr").find("#email").text());
          $('#m_cmnd').val($(this).closest("tr").find("#CMND").text());
          $('#m_tag').val($(this).closest("tr").find("#tag").text());
          $('#m_percent').val($('option:selected').attr('percent'));
          $('#m_startDate').val($(this).closest("tr").find("#startDate").text());
          $('#m_salary').val($('.mOps:selected').attr('salary'));
          $('#m_tagID').val($('.mOps:selected').attr('tagID'));
          $('#m_email').attr('data-old', $(this).closest("tr").find("#email").text())
          $('#m_phoneNumber').attr('data-old', $(this).closest("tr").find("#phoneNumber").text())
          $('#m_cmnd').attr('data-old', $(this).closest("tr").find("#CMND").text() )
          $("#modifiedModal").modal();
      });
      
      $("#btn--add-item").click(function() {
          $('#n_startDate').val(new Date().toDateInputValue());
          $("#addModal").modal();
      });
      
      $('#m_tag').change(function(){
          $('#m_percent').val($('.mOps:selected').attr('percent'));
          $('#m_salary').val($('.mOps:selected').attr('salary'));
      });
       $('#n_tag').change(function(){
          $('#n_percent').val($('.nOps:selected').attr('percent'));
           $('#n_salary').val($('.nOps:selected').attr('salary'));
      });


      $(".btn--delete-item").click(function() {
          if ($(this).attr('eID') == $(this).attr('userID')) {
            alert("Không thể xóa nhân viên đang đăng nhập!!!");
            return
          }
          var temp  = "Bạn có chắc chắn muốn xóa nhân viên " +  $(this).closest("tr").find("#name").text() + " ?";
          $("#informLabel").text(temp);
          employeeID = $(this).closest("tr").attr('employeeID');
          
          //$("#deleteModal").modal();
      });
      $('#employeeTable tbody tr').click(function () {
        employeeID = $(this).attr('employeeID')
      });
      //add validator
      Validator({
      form: '#form-add-employeeList', // id của cái form cần validate
      errorSelector: '.form-message', // tên class để hiện cái lỗi
      rules: [
        Validator.isRequireSelectBox('#n_tag','--- Chọn chức vụ nhân viên ---', 'Vui chọn chức vụ nhân viên'),
        Validator.isRequire('#n_name', 'Vui nhập tên nhân viên'),
        Validator.isRequire('#n_address', 'Vui nhập địa chỉ'),
        Validator.isRequire('#n_email', 'Vui nhập email'),
        Validator.isRequire('#n_phoneNumber', 'Vui lòng nhập số điện thoại'),
        Validator.isEmail('#n_email'),
        Validator.isRequire('#n_cmnd', 'Vui lòng nhập chứng minh nhân dân'),
        Validator.isNumber('#n_cmnd'),
        Validator.isNumber('#n_phoneNumber'),
        Validator.isDuplicate('#n_email', '#employeeTable',4, 'Email đã tồn tại. Vui lòng nhập lại!'),
        Validator.isDuplicate('#n_phoneNumber', '#employeeTable',3, 'Số điện thoại đã tồn tại. Vui lòng nhập lại!'),
        Validator.isDuplicate('#n_cmnd', '#employeeTable',5, 'CMND đã tồn tại. Vui lòng nhập lại!')
      ],
      onSubmit: function() {
            
          formAddEmployee.action = 'employeeList/create'
          $('#n_tagID').val($('.nOps:selected').attr('tagID'));
          formAddEmployee.submit()  
        }
      })
      //modified validator  
      Validator({
      form: '#form-edit-employeeList', // id của cái form cần validate
      errorSelector: '.form-message', // tên class để hiện cái lỗi
      rules: [
        Validator.isRequireSelectBox('#m_tag','--- Chọn chức vụ nhân viên ---', 'Vui chọn chức vụ nhân viên'),
        Validator.isRequire('#m_name', 'Vui nhập tên nhân viên'),
        Validator.isRequire('#m_address', 'Vui nhập địa chỉ'),
        Validator.isRequire('#m_email', 'Vui nhập email'),
        Validator.isRequire('#m_phoneNumber', 'Vui lòng nhập số điện thoại'),
        Validator.isEmail('#m_email'),
        Validator.isRequire('#m_cmnd', 'Vui lòng nhập chứng minh nhân dân'),
        Validator.isNumber('#m_cmnd'),
        Validator.isNumber('#m_phoneNumber'),
        Validator.isDuplicate('#m_email', '#employeeTable',4, 'Email đã tồn tại. Vui lòng nhập lại!'),
        Validator.isDuplicate('#m_phoneNumber', '#employeeTable',3, 'Số điện thoại đã tồn tại. Vui lòng nhập lại!'),
        Validator.isDuplicate('#m_cmnd', '#employeeTable',5, 'CMND đã tồn tại. Vui lòng nhập lại!')
      ],
      onSubmit: function() {
          formEdit.action = 'employeeList/' + employeeID + '/edit?_method=PUT' 
          $('#m_tagID').val($('.mOps:selected').attr('tagID'));
          formEdit.submit()
        }
      })

      var tdActive;
      var btnAcceptAdd = $('#btn-add')
      var btnDelete = $('#btn-delete')
      var btnAcceptEdit = $('#btn-accept-edit')
      var formAdd =  document.forms['form-add']
      var formEdit = document.forms['form-edit']
      var formDelete = document.forms['form-delete']
      var formAddEmployee = document.forms['form-add']

      btnDelete.click(function() {
        formDelete.action = 'employeeList/'+  employeeID + '/delete?_method=DELETE'
        formDelete.submit();
      })

      $(document).ready(function () {
      $('#searchKey').on('keyup', function (event) {
        event.preventDefault();
        /* Act on the event */
        var keyword = $(this).val().toLowerCase();
        $('#table-data tr').filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(keyword) > -1);
        });
        });
      });


    });

      
    </script>