{{!-- <link rel="stylesheet" href="./css/base.css">  --}}
<link rel="stylesheet" type="text/css" href="/css/brand.css">

<div class="grid__content">
  <div class="header__breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Quản lý hiệu xe</a></li>
        </ol>
    </nav>
  </div>

  <div class="toolbar">
      <div class="search-form">
          <input type="search" value="" placeholder="Tìm kiếm" class="search-input" id="search-input">
          <button type="button" class="search-button">
            <span class="ti-search "> </span>
          </button>
      </div>
      <div class="toolbar__btn">
          <button class="toolbar__btn-add btn btn-primary" data-toggle="modal" data-target="#modal-add">Thêm hiệu xe</button>
      </div>
  </div>
  {{!-- THÊM --}}
  <table class="table" >
    <colgroup>
      <col>
      <col>
      <col>
    </colgroup>
    <thead class="thead-dark">
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Mã hiệu xe</th>
        <th scope="col">Tên hiệu xe</th>
        <th scope="col" colspan="2"></th>
      </tr>
    </thead>
      <tbody id="table-data" >
        {{#each Data}}
        <tr>
          {{!-- 1 hiệu xe --}}
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.brand._id}}</td>
          <td>{{this.brand.name}}</td>
          <td class="row-btn--center">
            <button class="btn btn--edit-item btn-edit" data-id="{{this.brand._id}}" 
            data-name="{{this.brand.name}}" data-toggle="modal" data-target="#modal-edit">Sửa</button>
            <button class="btn btn--delete-item btn-delete" data-id="{{this.brand._id}}" data-candelete="{{this.canDelete}}"
            data-target="#modal-delete" data-toggle="modal">Xóa</button>
          </td>
        </tr>
        {{/each}}
      </tbody>
  </table>
</div>
<form method="POST" action="/brand/create" id="form-add" name="form-add">
  <div class="modal fade" id="modal-add" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thêm phiếu sửa chữa</h5>
          <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="input-name">Tên hiệu xe</label>
              <input type="text" class="form-control" id="input-name" placeholder="" name="name">
              <span class="form-message"></span>
            </div>  
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
          <button type="submit" class="btn btn--send-dialog">Thêm</button>
        </div>
      </div>
    </div>
  </div>
</form>
{{!-- FORM DELETE --}}
<form name="form-delete" method="POST">
<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Xóa hiệu xe</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modal-body-descreption">
          Bạn có chắc chắn muốn xóa hiệu xe này!!!
        </div>
        <div class="modal-footer">
          <button id="btn-accept-delete" type="button" class="btn btn--delete-dialog">Xóa</button>
          <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>
</form>
{{!-- FORM SUA --}}
<form name="form-edit" method="POST" action="" id="form-edit">
  <div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm vật tư</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="form-edit-name" class="col-form-label">Hiệu xe:</label>
              <input type="text" class="form-control" id="form-edit-name" name="name" data-old="">
              <span class="form-message"></span>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn--close-dialog" data-dismiss="modal">Đóng</button>
          <button id="btn-accept-edit" type="submit" class="btn--send-dialog">Sửa</button>
        </div>
      </div>
    </div>
  </div>
</form>
<div id="message-no-delete" data-nodelete="{{NoDelete}}"></div>
<script>
  document.addEventListener('DOMContentLoaded', function () {

    $(document).ready(function () {
        $('#search-input').on('keyup', function (event) {
        event.preventDefault();
        /* Act on the event */
        var keyword = $(this).val().toLowerCase();
        $('#table-data tr').filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(keyword) > -1);
        });
        });
    });

    window.onload = function() {
      if ($('#message-no-delete').data('nodelete')) {
        alert("Không thể xóa hiệu xe này vì đang được sử dụng ở phiếu tiếp nhận")
      }
    }
    const formAdd = document.forms['form-add']
    Validator({
      form: '#form-add', // id của cái form cần validate
      errorSelector: '.form-message', // tên class để hiện cái lỗi
      rules: [
        Validator.isRequire('#input-name', 'Vui lòng nhập tên hiệu xe'),
        Validator.isDuplicate('#input-name', '#table-data',1, 'Hiệu xe đã tồn tại. Vui lòng nhập lại!')
      ],
      onSubmit: function() {
          formAdd.action = 'brand/create' 
          formAdd.submit()
        }
      })
    const formEdit = document.forms['form-edit']
    Validator({
      form: '#form-edit', // id của cái form cần validate
      errorSelector: '.form-message', // tên class để hiện cái lỗi
      rules: [
        Validator.isRequire('#form-edit-name', 'Vui lòng nhập tên hiệu xe'),
        Validator.isDuplicate('#form-edit-name', '#table-data',1 , 'Hiệu xe đã tồn tại. Vui lòng nhập lại!')
      ],
      onSubmit: function() {
          formEdit.action = 'brand/' + brandId + '/edit?_method=PUT'
          formEdit.submit()
        }
      })

    var brandId;
    var tdActive;
    var btnDelete = $('.btn-delete')
    var btnAcceptEdit = $('#btn-accept-edit')
    var btnEdit = $('.btn-edit')
    var inputEditName = document.querySelector('#form-edit-name')
    var oldValue 
    const btnAcceptDelete = document.querySelector('#btn-accept-delete')
    const formDelete = document.forms['form-delete']

    $('#form-edit').on('shown.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        brandId = button.data('id')
        
    })
    btnEdit.click(function(){
      var row = $(this).parents('tr')[0]
      $('#form-edit-name').val(row.cells[1].textContent)
      $('#form-edit-name').attr('data-old', row.cells[1].textContent )
    })
    var canDelete
    $('#modal-delete').on('shown.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        brandId = button.data('id')
        canDelete = false
        if ( button.data('candelete') == true) canDelete = true
        console.log(button.data('candelete'))
        console.log(canDelete)
    })

    btnAcceptDelete.onclick = function() {
      if (canDelete) {
        formDelete.action = 'brand/' + brandId + '/delete?_method=DELETE'
        formDelete.submit()
      }
      else {
        alert("Không thể xóa hiệu xe này vì hiệu xe đang được sử dụng!!!")
      }
      
    }
  })
</script>