<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/debt.css">

<div class="grid__item">
    <div class="header">
    <div class="template__title">Tiếp nhận xe</div>
    <div class="template__title">Ghi nợ</div>
</div>
<div class="container">
    <div class="bill">
        <div class="bill__header">
            <div class="bill__header-name">Phiếu ghi nợ</div>
            <div class="bill__header-company-name">Nhà xe: DGara</div>
            <div class="bill__header-phone">Địa chỉ: Khu phố 6, Thủ Đức, Thành phố Hồ Chí Minh</div>
            <div class="bill__header-phone">SDT: 096964451</div>
        </div>
        <div class="bill__customer-info">
            <div class="info-group">
                <label for="">Tên khách hàng:</label>
                <label >{{Reception.of_customer.name}}</label>
            </div>
            <div class="info-group">
                <label for="">Biển số xe:</label>
                <label >{{Reception.license}}</label>
            </div>
            <div class="info-group">
                <label for="">Phone:</label>
                <label >{{Reception.of_customer.phone}}</label>
            </div>
            <div class="info-group">
                <label for="">Ngày lập phiếu:</label>
                <label >{{Now}}</label>
            </div>
        </div>
        <div class="bill__repair-info">
            <div class="bill__repair-info__table-material">
                <table class="table" style="overflow-y:scroll">
                <thead>
                    <tr>
                        <th scope="col">Nội dung</th>
                        <th scope="col">Tên vật tư</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each DetailMaterial}}
                    <tr>
                        <td scope="row">{{this.content}}</td>
                        <td scope="row">{{this.material_name}}</td>
                        <td scope="row">{{this.amount}}</td>
                        <td scope="row">{{this.sell_price}}</td>
                        <td scope="row">{{this.total_money}}</td>
                    </tr>
                    {{/each}}
                </tbody>
        </table>
            </div>

            <div class="bill__repair-info__table-wage">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tên tiền công</th>
                            <th scope="col">Tiền công</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each DetailWage}}
                        <tr>
                            <td scope="row">{{this.wage_name}}</td>
                            <td scope="row">{{this.wage_money}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bill__form">
            <form name="form-debt" method="POST" id="form-debt">
                <div class="bill__money-info">
                    <div class="bill__money-info-detail">
                        <div class="info-group">
                            <label for="">Tổng tiền:</label>
                            <label id="label-total-money">{{Reception.total_money}}</label>
                        </div>
                        <div class="form-group">
                            <label for="">Số tiền thanh toán trước:</label>
                            <input id="input-money-pay" type="text" class="form-control input-money" name="money_pay">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label for="">Còn nợ:</label>
                            <input id="input-debt" disabled type="text" class="form-control input-debt" name="debt">
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="form-accept-debt" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">Thanh toán</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body modal-body-descreption">
                                    Bạn có chắc chắn xác nhận muốn ghi nợ!!!
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
                            <button id="btn-accept-debt" type="submit" class="btn btn--send-dialog">Đồng ý</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="bill__footer">
                <button class="btn-print btn btn-success">In hóa đơn</button>
                <button class="btn-debt btn btn-primary" data-id="{{Reception._id}}" 
                    data-toggle="modal" 
                    data-target="#form-accept-debt">Xác nhận ghi nợ</button>
        </div>
        
    </div>
</div>
</div>
    
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var btnAcceptDebt = document.querySelector('#btn-accept-debt')
        var btnPrint = document.querySelector('#btn-print')
        var receptionId
        const formDebt = document.forms['form-debt']
        Validator({
            form: '#form-debt', // id của cái form cần validate
            errorSelector: '.form-message', // tên class để hiện cái lỗi
            rules: [
                Validator.isRequire('#input-money-pay','Vui lòng nhập số tiền thanh toán trước'),
                Validator.isNumber('#input-money-pay'),
                Validator.notGreaterThan('#input-money-pay','#label-total-money','Số tiền thanh toán không được vượt quá tổng tiền'),
            ],
            onSubmit: function() {
                formDebt.action = 'create-debt?_method=POST'
                formDebt.submit()
            }
        })
        $('#form-accept-debt').on('show.bs.modal' , function(event) {
            var button = $(event.relatedTarget)
            receptionId = button.data('id')
            console.log(receptionId)
        })
        
        var inputMoneyPay = document.querySelector('#input-money-pay')
        var labelTotalMoney = document.querySelector('#label-total-money')
        var inputDebt = document.querySelector('#input-debt')
        var totalMoney = labelTotalMoney.textContent

        inputMoneyPay.onkeyup = function() {
            inputDebt.value = (Number.parseInt(labelTotalMoney.textContent) - Number.parseInt(inputMoneyPay.value))
    
        }
    })
</script>