<link rel="stylesheet" href="/css/reception.css">
<div class="grid__content {{active}}">
  <div class="header">
    <div class="template__title">Tiếp nhận xe</div>
  </div>
  <div class="ctner">
    <div class="toolbar">
      <div class="toolbar__search">
        <input type="text" class="toolbar__search-input" id="search-input" placeholder="Tìm kiếm thông tin xe...">
        <span class="ti-search toolbar__search-icon"> </span>
      </div>

      <div class="dropdown toolbar__filter">
        <button class=" btn dropdown-toggle toolbar__filter-btn" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        </button>
        <div class="toolbar__filter-menu dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="toolbar__filter-item dropdown-item" href="#">Mới</a>
          <a class="toolbar__filter-item dropdown-item" href="#">Đang sửa chữa</a>
          <a class="toolbar__filter-item dropdown-item" href="#">Đã hoàn thành</a>
        </div>
      </div>

      <div class="toolbar__btn">
        <button class="header__btn-add btn btn-primary" data-toggle="modal" data-target="#modal-add-reception">Thêm phiếu
              tiếp nhận</button>
      </div>
    </div>
    <div class="list-reception">
      <table class="table table--default">
        <colgroup>
            <col style="width: 70px;">
            <col >
            <col >
            <col >
            <col > 
            <col > 
            {{!-- <col >  --}}
            <col style="width: 135px;"> 
            <col style="width: 230px;"> 
        </colgroup>
        <thead class="thead-dark">
          <tr>
            <th scope="col">#STT</th>
            <th scope="col">Biển số xe</th>
            <th scope="col">Hiệu xe</th>
            <th scope="col">Tên khách hàng</th>
            {{!-- <th scope="col">Số điện thoại</th> --}}
            <th scope="col">Ngày tiếp nhận</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Số tiền nợ</th>
            <th scope="col" ></th>
          </tr>
        </thead>
        <tbody>
          {{#each Receptions}}
          <tr data-id="{{this._id}}">
            <th scope="row"> {{sum @index 1}} </th>
            <td>{{this.license}}</td>
            <td>{{this.brand.name}}</td>
            <td>{{this.of_customer.name}}</td>
            <td hidden>{{this.phone}}</td>
            <td>{{this.receptionDate}}</td>
            <td>
              <div class="{{loadStatus this.status}}">
                {{this.status}}
              </div>
              </td>
            <td>{{this.debt}}</td>
            <td class="row-btn" >
              <button class=" btn-edit-item btn btn-info btn--item btn--item-min-width " data-id="{{this._id}}" data-toggle="modal"
                data-target="#form-edit-reception" 
                {{isDisable this.of_repair.contracted}} 
                {{isHidden this.isSuccess}} 
                >Sửa</button>
              <button class="btn-delete-item btn btn-danger btn--item btn--item-min-width" data-id="{{this._id}}" data-toggle="modal"
                data-target="#form-delete-reception" 
                {{isDisable this.of_repair.contracted}} 
                {{isHidden this.isSuccess}} 
                >Xóa</button>
              <button class="btn btn-danger btn-debt btn--item" data-id="{{this._id}}" data-toggle="modal"
                data-target="#modal-debt" 
                {{checkDebt this.isDebt this.of_repair.isSuccess}}
                {{isHidden this.isSuccess}} 
                >Ghi nợ</button>
              <button class="btn btn-success btn-pay btn--item" data-id="{{this._id}}" data-toggle="modal"
                data-target="#modal-pay" 
                {{isEnable this.of_repair.isSuccess}} 
                {{isHidden this.isSuccess}} 
                >Thanh toán</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- POP UP FORM -->
<!-- FORM THÊM PHIẾU TIẾP NHẬN-->
<form method="POST" action="/reception/create" id="form-add-reception" name="form-add-reception">
  <div class="modal fade" id="modal-add-reception" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thêm phiếu tiếp nhận</h5>
          <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group" id="form-old-customer">
              <label for="reception-add-name" class="col-form-label">Tên khách hàng:</label>
              <select class="form-control" name="oldCustomer" id="add-old-customer"> 
                    <option>--- Chọn khách hàng ---</option>
                    {{#each Customers}}   
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
              </select>
              <span class="form-message"></span>
            </div>
            <p>
            <div class="customer-check">
              <input type="checkbox" class="" id="customer-check-input" name="isNewCustomer">
              <label class="customer-check-label">Khách hàng mới</label>
              <div class="side-new-customer">
                <div class="form-group">
                  <label for="reception-add-name" class="col-form-label">Tên khách hàng:</label>
                  <input type="text" placeholder="Vd: Nguyễn Thành Đạt" class="form-control" id="add-new-name" name="name">
                  <span class="form-message"></span>
                </div>
                <div class="form-group">
                  <label for="reception-add-receptionDate" class="col-form-label">Ngày sinh:</label>
                  <input type="date" class="form-control"  id="add-birth" name="birthday">
                  <span class="form-message"></span>
                </div>
                <div class="form-group">
                  <label for="reception-add-name" class="col-form-label">Địa chỉ:</label>
                  <input type="text" placeholder="Vd: Tiền Giang" class="form-control" id="add-address" name="address">
                  <span class="form-message"></span>
                </div>
                <div class="form-group">
                  <label for="reception-add-name" class="col-form-label">CMND:</label>
                  <input type="text" placeholder="Vd: 312329366" class="form-control" id="add-cardIdentify" name="cardIdentify">
                  <span class="form-message"></span> 
                </div>
                <div class="form-group">
                  <label for="reception-add-name" class="col-form-label">Email:</label>
                  <input type="text" placeholder="Vd: example@gmail.com" class="form-control" id="add-email" name="email">
                  <span class="form-message"></span> 
                  {{!-- form-message --}}
                </div>
              </div>
            </div>
            <div class="form-group">
                <label for="reception-add-phone" class="col-form-label">Số điện thoại:</label>
                <input type="text" placeholder="Vd: 099999989" class="form-control" id="reception-add-phone" name="phone" >
                <span class="form-message"></span>
            </div>
            <div class="double-input">
              <div class="form-group">
                <label for="reception-add-license" class="col-form-label">Biển số xe:</label>
                <input type="text" placeholder="Vd: 37BB8095" class="form-control" id="reception-add-license" name="license" >
                <span class="form-message"></span>
              </div>
            </div>
            
            <div class="form-group">
              <label for="reception-add-brand" class="col-form-label">Hiệu xe:</label>
              <select class="form-control" name="brand" id="add-brand">    
                    <option>--- Chọn hiệu xe ---</option>
                    {{#each Brands}}   
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
              </select>
              <span class="form-message"></span>
            </div>
            <div class="form-group">
              <label for="reception-add-receptionDate" class="col-form-label">Ngày tiếp nhận:</label>
              <input type="date" class="form-control" id="reception-add-receptionDate" name="receptionDate">
              <span class="form-message"></span>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
          <button id="btn-add-reception" type="submit" class="btn btn--send-dialog">Thêm</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- FORM SỬA PHIẾU TIẾP NHẬN-->
<form method="POST" name="form-submit" id="form-edit">
  <div class="modal fade" id="form-edit-reception" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thêm phiếu tiếp nhận</h5>
          <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="reception-edit-name" class="col-form-label">Tên khách hàng:</label>
              <input type="text" class="form-control" id="reception-edit-name" name="name">
              <span class="form-message"></span>
            </div>
            <div class="form-group">
              <label for="reception-edit-lincense" class="col-form-label">Biển số xe:</label>
              <input type="text" class="form-control" id="reception-edit-license" name="license">
              <span class="form-message"></span>
            </div>
            <div class="form-group">
              <label for="reception-edit-phone" class="col-form-label">Số điện thoại:</label>
              <input type="text" class="form-control" id="reception-edit-phone" name="phone">
              <span class="form-message"></span>
            </div>
            <div class="form-group">
              <label for="reception-edit-brand" class="col-form-label">Hiệu xe:</label>
              <select class="form-control" name="brand" i id="reception-edit-brand">    
                    <option>--- Chọn hiệu xe ---</option>
                    {{#each Brands}}   
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
              </select>
              <span class="form-message"></span>
            </div>
            {{!-- <div class="form-group">
              <label for="reception-edit-address" class="col-form-label">Ngày tiếp nhận:</label>
              <input type="date" class="form-control" id="reception-edit-receptionDate" name="receptionDate">
              <span class="form-message"></span>
            </div> --}}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
          <button id="btn-edit-form" type="submit" class="btn btn--send-dialog">Sửa</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- FORM XÓA PHIẾU TIẾP NHẬN-->
<div class="modal fade" id="form-delete-reception" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Xóa phiếu tiếp nhận</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-descreption">
        Bạn có chắc chắn muốn xóa phiếu tiếp nhận này!!!
      </div>
      <div class="modal-footer">
        <button id="btn-accept-delete" type="button" class="btn btn--delete-dialog">Xóa</button>
        <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
<!-- FORM THANH TOÁN-->
<div class="modal fade" id="modal-pay" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Thanh toán</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-descreption">
        Bạn có chắc chắn muốn thanh toán phiếu này!!!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
        <button id="btn-accept-pay" type="button" class="btn btn--send-dialog">Đồng ý</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-debt" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Ghi nợ</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-descreption">
        Bạn có chắc chắn muốn ghi nợ cho phiếu tiếp nhận này!!!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
        <button id="btn-accept-debt" type="button" class="btn btn--send-dialog">Đồng ý</button>
      </div>
    </div>
  </div>
</div>
{{!-- FORM --}}
<form name="form-delete" method="POST"></form>
<form name="form-pay" method="GET"></form>
<form name="form-debt" method="GET"></form>

<!-- MAIN CSS -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // VALIDATE
    Validator({
      form: '#form-add-reception', // id của cái form cần validate
      errorSelector: '.form-message', // tên class để hiện cái lỗi
      rules: [
        Validator.isRequireSelectBox('#add-old-customer','--- Chọn khách hàng ---', 'Vui chọn khách hàng'),
        Validator.isRequire('#add-new-name', 'Vui chọn nhập tên khách hàng'),
        Validator.isRequire('#add-birth', 'Vui chọn chọn ngày sinh'),
        Validator.isRequire('#add-address', 'Vui chọn nhập địa chỉ'),
        Validator.isRequire('#add-cardIdentify', 'Vui lòng nhập CMND'),
        Validator.isEmail('#add-email'),
        Validator.isRequire('#reception-add-phone', 'Vui lòng nhập số điện thoại'),
        Validator.isNumber('#reception-add-phone'),
        Validator.isRequire('#reception-add-license', 'Vui lòng nhập biển số xe'),
        Validator.isRequireSelectBox('#add-brand','--- Chọn hiệu xe ---','Vui lòng chọn hiệu xe'),
        Validator.isRequire('#reception-add-receptionDate','Vui lòng chọn ngày tiếp nhận'),
      ],
      onSubmit: function() {
          formAddReception.action = '/reception/create' 
          formAddReception.submit()
        }
      })
    Validator({
          form: '#form-edit', 
          errorSelector: '.form-message',
          rules: [
            Validator.isRequire('#reception-edit-name', 'Vui lòng nhập số điện thoại'),
            Validator.isRequire('#reception-edit-license', 'Vui lòng nhập biển số xe'),
            Validator.isRequire('#reception-edit-phone', 'Vui lòng nhập số điện thoại'),
            Validator.isNumber('#reception-edit-phone',),
            Validator.isRequire('#reception-edit-brand', 'Vui lòng chọn hiệu xe'),
            //Validator.isRequire('#reception-edit-receptionDate', 'Vui lòng chọn ngày tiếp nhận'),
          ],
          onSubmit: function() {
            formSubmit.action = '/reception/' + receptionId + '/?_method=PUT' 
            formSubmit.submit()
          }
    })
    const formAddReception= document.forms['form-add-reception']
    var formSubmit = document.forms['form-submit']
    var formDelete = document.forms['form-delete']
    var btnSubmitEdit = $('#btn-edit-form')
    var btnEdit = $('.btn-edit-item')
    var btnAcceptDelete = $('#btn-accept-delete')

    var receptionId;

    $('#form-edit-reception').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      receptionId = button.data('id')
    })
    $('#form-delete-reception').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      receptionId = button.data('id')
    })
    btnEdit.click(function () {
      var id = $(this).data('id')
      var rowData = $(this).parents('tr')[0]
      $('#reception-edit-license').val(rowData.cells[1].textContent)
      $('#reception-edit-name').val(rowData.cells[3].textContent)
      $('#reception-edit-phone').val(rowData.cells[4].textContent)
      //var mydate = new Date(rowData.cells[5].textContent);
      //$('#reception-edit-receptionDate').val(new Date(mydate).toDateString())

      var selecteBrand = document.querySelector('#reception-edit-brand')
      for (var i = 0 ; i < selecteBrand.options.length ; i++) {
        if (selecteBrand.options[i].textContent == rowData.cells[2].textContent)
          selecteBrand.options.item(i).selected = 'selected'
      }
    })
    btnAcceptDelete.click(function () {
      if (receptionId != null) {
        formDelete.action = '/reception/' + receptionId + '/?_method=DELETE'
        formDelete.submit()
      }

    })
    $("#form-old-customer").attr('disabled',false);
    $("#add-new-name").attr('disabled','disabled');
    $("#add-birth").attr('disabled','disabled');
    $("#add-address").attr('disabled','disabled');
    $("#add-cardIdentify").attr('disabled','disabled');
    $("#add-email").attr('disabled','disabled');
    const checkboxNewCustomer = document.getElementById('customer-check-input')
    const formOldCustomer = document.querySelector('#form-old-customer')
    checkboxNewCustomer.addEventListener('change', (event) => {
      if (event.currentTarget.checked) {
          $("#form-old-customer").attr('disabled','disabled');
          $("#add-new-name").attr('disabled',false);
          $("#add-birth").attr('disabled',false);
          $("#add-address").attr('disabled',false);
          $("#add-cardIdentify").attr('disabled',false);
          $("#add-email").attr('disabled',false);
      } else {
          $("#form-old-customer").attr('disabled',false);
          $("#add-new-name").attr('disabled','disabled');
          $("#add-birth").attr('disabled','disabled');
          $("#add-address").attr('disabled','disabled');
          $("#add-cardIdentify").attr('disabled','disabled');
          $("#add-email").attr('disabled','disabled');
      }
    })

    $('#modal-pay').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      receptionId = button.data('id')
    })
    const formPay = document.forms['form-pay']
    const btnAccceptPay = document.querySelector('#btn-accept-pay')
    btnAccceptPay.onclick = function() {
      formPay.action = '/reception/' + receptionId + '/pay'
      formPay.submit()
    }

    $('#modal-debt').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      receptionId = button.data('id')
    })
    const formDebt = document.forms['form-debt']
    const btnAccceptDebt = document.querySelector('#btn-accept-debt')
    btnAccceptDebt.onclick = function() {
      formDebt.action = '/reception/' + receptionId + '/debt'
      formDebt.submit()
    }
  })
</script>
