<link rel="stylesheet" href="/css/reception.css">
<div class="grid__item">
  <div class="header">
    <div class="header__title">Tiếp nhận xe</div>
    <button class="header__btn-add btn btn--primary" data-toggle="modal" data-target="#form-add-reception">Thêm phiếu
      tiếp nhận</button>
  </div>
  <div class="ctner">
    <div class="toolbar">
      <div class="toolbar__search">
        <input type="text" class="toolbar__search-input" id="search-input" placeholder="Tìm kiếm thông tin xe...">
        <span class="ti-search toolbar__search-icon"> </span>
      </div>
      <div class="dropdown toolbar__filter">
        <button class=" btn dropdown-toggle toolbar__filter-btn" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        </button>
        <div class="toolbar__filter-menu dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="toolbar__filter-item dropdown-item" href="#">Mới</a>
          <a class="toolbar__filter-item dropdown-item" href="#">Đang sửa chữa</a>
          <a class="toolbar__filter-item dropdown-item" href="#">Đã hoàn thành</a>
        </div>
      </div>
    </div>
    <div class="list-reception">
      <table class="table table--default">
        <colgroup>
            <col style="width: 70px;">
            <col >
            <col >
            <col >
            <col > 
            <col > 
            {{!-- <col >  --}}
            <col > 
            <col style="width: 230px;"> 
        </colgroup>
        <thead class="thead-dark">
          <tr>
            <th scope="col">#STT</th>
            <th scope="col">Biển số xe</th>
            <th scope="col">Hiệu xe</th>
            <th scope="col">Tên khách hàng</th>
            {{!-- <th scope="col">Số điện thoại</th> --}}
            <th scope="col">Ngày tiếp nhận</th>
            <th scope="col">Số tiền nợ</th>
            <th scope="col">Trạng thái</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{#each Receptions}}
          <tr data-id="{{this._id}}">
            <th scope="row"> {{sum @index 1}} </th>
            <td>{{this.license}}</td>
            <td>{{this.brand}}</td>
            <td>{{this.name}}</td>
            {{!-- <td>{{this.phone}}</td> --}}
            <td>{{this.receptionDate}}</td>
            <td>{{this.debt}}</td>
            <td>{{this.status}}</td>
            <td class="row-btn">
              <button class="btn--edit-item" data-id="{{this._id}}" data-toggle="modal"
                data-target="#form-edit-reception" data-id="">Sửa</button>
              <button class="btn--delete-item" data-id="{{this._id}}" data-toggle="modal"
                data-target="#form-delete-reception" data-id="">Xóa</button>
              <button class="btn btn-success btn-pay" data-id="{{this._id}}" data-toggle="modal"
                data-target="#" data-id="">Thanh toán</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- POP UP FORM -->
<!-- FORM THÊM PHIẾU TIẾP NHẬN-->
<form method="POST" action="/reception/create">
  <div class="modal fade" id="form-add-reception" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thêm phiếu tiếp nhận</h5>
          <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="reception-add-name" class="col-form-label">Tên khách hàng:</label>
              <input type="text" class="form-control" id="reception-add-name" name="name">
            </div>
            <div class="form-group">
              <label for="reception-add-lincense" class="col-form-label">Biển số xe:</label>
              <input type="text" class="form-control" id="reception-add-lincense" name="license">
            </div>
            <div class="form-group">
              <label for="reception-add-phone" class="col-form-label">Số điện thoại:</label>
              <input type="text" class="form-control" id="reception-add-phone" name="phone">
            </div>
            <div class="form-group">
              <label for="reception-add-brand" class="col-form-label">Hiệu xe:</label>
              <input type="text" class="form-control" id="reception-add-brand" name="brand">
            </div>
            <div class="form-group">
              <label for="reception-add-receptionDate" class="col-form-label">Ngày tiếp nhận:</label>
              <input type="date" class="form-control" id="reception-add-receptionDate" name="receptionDate">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
          <button id="btn-add-reception" type="submit" class="btn btn--send-dialog">Thêm</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- FORM XEM PHIẾU TIẾP NHẬN-->
<div class="modal fade" id="form-view-reception" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm phiếu tiếp nhận</h5>
        <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="reception-view-name" class="col-form-label">Tên khách hàng:</label>
            <input readonly type="text" class="form-control" id="reception-view-name" name="reception-view-name">
          </div>
          <div class="form-group">
            <label for="reception-view-lincense" class="col-form-label">Biển số xe:</label>
            <input readonly type="text" class="form-control" id="reception-view-license" name="reception-view-lincense">
          </div>
          <div class="form-group">
            <label for="reception-view-phone" class="col-form-label">Số điện thoại:</label>
            <input readonly type="text" class="form-control" id="reception-view-phone" name="reception-view-phone">
          </div>
          <div class="form-group">
            <label for="reception-view-address" class="col-form-label">Hiệu xe:</label>
            <input readonly type="text" class="form-control" id="reception-view-brand" name="reception-view-address">
          </div>
          <div class="form-group">
            <label for="reception-view-address" class="col-form-label">Ngày tiếp nhận:</label>
            <input readonly type="date" class="form-control" id="reception-view-receptionDate"
              name="reception-view-address">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<!-- FORM SỬA PHIẾU TIẾP NHẬN-->
<form method="POST" name="form-submit">
  <div class="modal fade" id="form-edit-reception" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thêm phiếu tiếp nhận</h5>
          <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="reception-edit-name" class="col-form-label">Tên khách hàng:</label>
              <input type="text" class="form-control" id="reception-edit-name" name="name">
            </div>
            <div class="form-group">
              <label for="reception-edit-lincense" class="col-form-label">Biển số xe:</label>
              <input type="text" class="form-control" id="reception-edit-license" name="license">
            </div>
            <div class="form-group">
              <label for="reception-edit-phone" class="col-form-label">Số điện thoại:</label>
              <input type="text" class="form-control" id="reception-edit-phone" name="phone">
            </div>
            <div class="form-group">
              <label for="reception-edit-address" class="col-form-label">Hiệu Xe:</label>
              <input type="text" class="form-control" id="reception-edit-brand" name="brand">
            </div>
            <div class="form-group">
              <label for="reception-edit-address" class="col-form-label">Ngày tiếp nhận:</label>
              <input type="date" class="form-control" id="reception-edit-receptionDate" name="receptionDate">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
          <button id="btn-edit-form" type="button" class="btn btn--send-dialog">Sửa</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- FORM XÓA PHIẾU TIẾP NHẬN-->
<div class="modal fade" id="form-delete-reception" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Xóa phiếu tiếp nhận</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-descreption">
        Bạn có chắc chắn muốn xóa phiếu tiếp nhận này!!!
      </div>
      <div class="modal-footer">
        <button id="btn-accept-delete" type="button" class="btn btn--delete-dialog">Xóa</button>
        <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

{{!-- FORM --}}
<form name="form-delete" method="POST"></form>


<!-- scrip -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{{!-- --}}



<!-- MAIN CSS -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var formSubmit = document.forms['form-submit']
    var formDelete = document.forms['form-delete']
    var btnSubmitEdit = $('#btn-edit-form')
    var btnView = $('.btn--view-item')
    var btnEdit = $('.btn--edit-item')
    var btnAcceptDelete = $('#btn-accept-delete')

    var receptionId;

    $('#form-edit-reception').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      receptionId = button.data('id')
    })
    btnSubmitEdit.click(function () {
      formSubmit.action = '/reception/' + receptionId + '/?_method=PUT'
      formSubmit.submit()
    })
    $('#form-delete-reception').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      receptionId = button.data('id')
    })
    btnView.click(function () {
      var id = $(this).data('id')
      var rowData = $(this).parents('tr')[0]
      $('#reception-view-license').val(rowData.cells[1].textContent)
      $('#reception-view-brand').val(rowData.cells[2].textContent)
      $('#reception-view-name').val(rowData.cells[3].textContent)
      $('#reception-view-phone').val(rowData.cells[4].textContent)
      $('#reception-view-receptionDate').val(rowData.cells[5].textContent)
    })
    btnEdit.click(function () {
      var id = $(this).data('id')
      var rowData = $(this).parents('tr')[0]
      $('#reception-edit-license').val(rowData.cells[1].textContent)
      $('#reception-edit-brand').val(rowData.cells[2].textContent)
      $('#reception-edit-name').val(rowData.cells[3].textContent)
      $('#reception-edit-phone').val(rowData.cells[4].textContent)
      var mydate = new Date(rowData.cells[5].textContent);
      console.log(mydate.toDateString());
      console.log(rowData.cells[5].textContent)

      $('#reception-edit-receptionDate').val(mydate.toDateString())
    })
    btnAcceptDelete.click(function () {
      if (receptionId != null) {
        formDelete.action = '/reception/' + receptionId + '/?_method=DELETE'
        formDelete.submit()
      }

    })
  })
</script>