
<link rel="stylesheet" href="/css/employeeManagerment.css">

<title>Nghỉ phép và vi phạm</title>
    <div class = "grid__content">
      <div class="header__breadcrumb">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Nghỉ và vi phạm</a></li>
              </ol>
          </nav>
        </div>
      <header class = "employeeManagerment__header">
        
        <div class="toolbar">
          <div class="search-form">
            <input class="search-input" style="padding:.4rem" type="search " id = "searchKey" placeholder="Tìm kiếm thông tin nhân viên" aria-label="Search">
              <button type="button" class="search-button">
                <span class="ti-search "> </span>
              </button>
            </div>
        </div>
      </header>
      <body class = "employeeManagerment__body">
          <div class = "table-responsive">
            <table class="table table--default employeeManagerment__body__table" id = "managerTable">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Họ và Tên</th>
                    <th scope="col">Chức vụ</th>
                    <th scope="col">Số lần vi phạm</th>
                    <th scope="col">Số ngày nghỉ</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each data}}
                  <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td id = "employeeName">{{this.employee.name}}</td>
                    <td>{{this.employee.Tag}}</td>
                    <td>{{this.errorCount}}</td>
                    <td>{{this.dateoffCount}}</td>  
                    <td>
                      <button class = "btn--view-item" employeeID = "{{this.employee._id}}" employeeNumber = "{{this.employee.phoneNumber}}">Xem</i></button>
                    </td>
                  </tr>
                  {{/each}}
              </table> 
        </div>
            

            <!--Add modal-->
              <form method="POST" action="employeeList/create">
              <div class="modal fade " id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered infoModal" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thêm nhân viên</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id =  "test">
                    <form>
                      <div class="form-group">
                        <label for="reception-add-lincense" class="col-form-label">Tên nhân viên:</label>
                        <input type="text" class="form-control" name="name">
                      </div>
                      <div class="form-group">
                        <label for="reception-add-phone" class="col-form-label">Địa chỉ:</label>
                        <input type="text" class="form-control" name="address">
                      </div>
                      <div class="form-group">
                        <label for="reception-add-brand" class="col-form-label">Số điện thoại</label>
                        <input type="text" class="form-control" name="phoneNumber">
                      </div>
                      <div class="form-group">
                        <label for="reception-add-receptionDate" class="col-form-label">Email:</label>
                        <input type="text" class="form-control" name="email">
                      </div>
                      <div class="form-group">
                        <label for="reception-add-receptionDate" class="col-form-label">CMND:</label>
                        <input type="text" class="form-control" name="CMND">
                      </div>
                      <div class="form-group">
                        <label for="reception-add-receptionDate" class="col-form-label">Chức vụ:</label>
                        <select class = "form-control" name="Tag" placeholder="">
                              <option value= "" disabled selected>Chọn loại nhân viên</option>
                              {{#each tag}}
                                <option value="{{this.name}}">{{this.name}}</option>
                              {{/each}}
                        </select>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="summit" class="btn btn-primary" onclick="add()">Thêm</button>
                  </div>
                </div>
              </div>
            </div>
            </form>
            <form method = "GET" name = "info-form"></form>
      </body>
    </div>


    <script>
      

      document.addEventListener('DOMContentLoaded', function () {
        var employeeID;
      var id;
      var infoForm = document.forms['info-form'];
      $("#searchKey").change(function(){
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchKey");
        filter = input.value;
        table = document.getElementById("employeeTable");
        tr = $("tbody tr");
        for (i = 0; i < tr.length; i++) {
          var td1 = tr[i].getElementsByTagName("td")[0];
          if (td1) {
            txtValue = td1.textContent || td1.innerText;
            filter = filter.toUpperCase();
            txtValue = txtValue.toUpperCase();
            if (txtValue.includes(filter)) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }   
        }
      })
      $(".btn--view-item").click(function() {
          id = $(this).attr('employeeID')
          $('#info_employeeName').text("Tên nhân viên: " + $(this).children('#employeeName').text());
          $('#info_phoneNumber').text("SĐT: " + $(this).attr('employeeNumber'));
          infoForm.action = 'employeeManagerment/' + id + '/info'
          infoForm.submit();
      });
      /*$('#managerTable tbody tr').click(function () {
        id = $(this).attr('employeeID')
        $('#info_employeeName').text("Tên nhân viên: " + $(this).children('#employeeName').text());
        $('#info_phoneNumber').text("SĐT: " + $(this).attr('employeeNumber'));
        infoForm.action = 'employeeManagerment/' + id + '/info'
        infoForm.submit();
      });*/
    });
    </script>