<link rel="stylesheet" href="/css/setting.css">

<div class="container">
    <div class="left-container">
        <h2>Thông tin gara</h2>
        <form class="container-fluid">
            <div class="form-group">
                <label for="">Tên gara</label>
                <input type="text" class="form-control" id="" name="gara_name" value="{{setting.gara_name}}">
            </div>
            <div class="form-group">
                <label for="">Số điện thoại</label>
                <input type="text" class="form-control" id="" name="telephone" value="{{setting.telephone}}">
            </div>
            <div class="form-group">
                <label for="">Địa chỉ</label>
                <input type="text" class="form-control" id="" value="{{setting.address}}">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" class="form-control" id="" value="{{setting.email}}">
            </div>
            <div class="form-group">
                <label for="">Số xe tối đa trong ngày</label>
                <input type="text" class="form-control" id="" value="{{setting.max_receptions}}">
            </div>
            <button type="submit" class="btn btn-primary">Thay đổi</button>
            <button type="submit" class="btn btn-primary">Hoàn tác</button>
            </form>
    </div>
    <div class="right-container">
        <h2>Thay đổi mật khẩu</h2>
        <form class="form-inline container-fluid justify-content-between">
            <div class="form-group mb-2">
                <label for="" class="sr-only"></label>
                <input type="text" readonly class="form-control-plaintext" id="" value="email@example.com">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="" class="sr-only">Password</label>
                <input type="password" class="form-control" id="" placeholder="Nhập mật khẩu">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Xác nhận</button>
        </form>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
        crossorigin="anonymous">
</script>


<script>
  document.addEventListener('DOMContentLoaded', function () {
      
  })
</script>