<link rel="stylesheet" href="/css/repair.css">
<div class="grid__item">
    <div class="header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/{{User._id}}/repairs">Theo dõi sửa chữa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thông tin sửa chữa</li>
            </ol>
        </nav>
    </div>
    <div class="repair-detail__navbar">
        <div class="repair-detail__nav">
            <button class="repair-detail__nav-item  btn btn-primary">Thông tin sửa chữa</button>
            <form method="GET" action="contract-detail">
                <button style="submit" class="repair-detail__nav-item btn btn-primary">Thông tin hợp đồng</button>
            </form>
        </div>
        <div class="repair-detail__toolbar">
            <button id="btn-quote" class="repair-detail__toolbar-item btn btn-primary"
                data-toggle="modal" data-target="#modal-quote">Báo giá</button>
            <button id="btn-contract" class="repair-detail__toolbar-item btn btn-primary">Lập hợp đồng</button>
            <button id="btn-ordered" class="repair-detail__toolbar-item btn btn-primary"
                data-toggle="modal" data-target="#modal-ordered">Lệnh sửa</button>
            <button id="btn-success" class="repair-detail__toolbar-item btn btn-primary"
            data-toggle="modal" data-target="#modal-success" data-error= "{{canSuccess}}">Xác nhận hoàn thành</button>
        </div>
    </div>

    <div class="repair-detail-info">
        <div class="repair-detail-info__general">
            <div class="repair-detail-info__general-item">
                <div class="repair-detail-info__general-item-customer">
                    <div class="info-group">
                        <label for="">Mã phiếu sửa chữa:</label>
                        <label id="label-repair-id">{{Repair._id}}</label>
                    </div>
                    <div class="info-group">
                        <label for="">Tên khách hàng:</label>
                        <label >{{Repair.of_reception.of_customer.name}}</label>
                    </div>
                    <div class="info-group">
                        <label for="">Biển số xe:</label>
                        <label >{{Repair.of_reception.license}}</label>
                    </div>
                </div>
                <div class="repair-detail-info__general-item-status">
                    <div class="info-group">
                        <label for="">Trạng thái:</label>
                        <label id="repair-status" data-id="{{Repair._id}}"
                            data-contracted="{{Repair.contracted}}"
                            data-quoted="{{Repair.quoted}}"
                            data-edited="{{Repair.edited}}"
                            data-ordered="{{Repair.ordered}}"
                            data-success="{{Repair.isSuccess}}"
                            >{{Repair.status}}</label>
                    </div>
                    <div class="info-group">
                        <label for="">Tổng tiền:</label>
                        <label >{{Repair.debt}}</label>
                    </div>
                    <div class="info-group">
                        <label for=""></label>
                        <label ></label>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="repair-detail-info__table-supplies">
            <div class="table__header">
                <div class="table__header-name">Bảng thông tin vật tư</div> 
                <button id="btn-add-material" class="table__header-btn-add btn btn-primary"
                    data-toggle="modal" data-target="#modal-add-material"
                    data-id="{{repair._id}}" {{isHidden Repair.isSuccess}}>Thêm</button>
            </div>
            
            <div class="table-material">
                <table class="table table--default" style="overflow-y:scroll">
                    <colgroup>
                        <col style="width: 70px;">
                        <col style="width: 300px;">
                        <col style="width: 270px;">
                        <col style="width: 100px;">
                        <col style="width: 100px;"> 
                        <col style="width: 100px;"> 
                        <col style="width: 120px;"> 
                        <col style="width: 120px;"> 

                    </colgroup>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Nội dung</th>
                            <th scope="col">Tên vật tư</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Đơn giá</th>
                            <th scope="col">Thành tiền</th>
                            <th scope="col">Hợp đồng</th>
                            <th scope="col">Xuất Kho</th>
                            <th scope="col" {{isHidden Repair.isSuccess}}></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each Detail_Materials}}
                        <tr>
                            <td scope="row">{{sum @index 1}}</td>
                            <td scope="row">{{this.content}}</td>
                            <td scope="row">{{this.material_name}}</td>
                            <td scope="row">{{this.amount}}</td>
                            <td scope="row">{{this.sell_price}}</td>
                            <td scope="row">{{this.total_money}}</td>
                            <td class="td-contain-check-icon" scope="row" >
                                <span {{isShow this.contracted}} class="oi oi-circle-check icon-check--on"></span>
                            </td> 
                            <td class="td-contain-check-icon" scope="row" >
                                <span {{isShow this.exported}} class="oi oi-circle-check icon-check--on"></span>
                            </td>
                            <td {{isHidden ../Repair.isSuccess}} class="td-contain-btn" scope="row"> 
                                <button {{isDisable this.contracted}} class="btn--edit-item btn--disable" data-toggle="modal" 
                                data-target="#modal-edit-material" data-id="{{this._id}}">Sửa</button>
                                <button {{isDisable this.contracted}} class="btn--delete-item" data-toggle="modal" 
                                data-target="#modal-delete-material" data-id="{{this._id}}">Xóa</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
            </table>
            </div>
        </div>

        <div class="repair-detail-info__table-wage">
            <div class="table__header">
                <div class="table__header-name">Bảng thông tiền công</div> 
                <button {{isHidden Repair.isSuccess}} id="btn-add-wage" class="table__header-btn-add btn btn-primary"
                data-toggle="modal" data-target="#modal-add-wage">Thêm</button>     
            </div> 				    
            <table class="table table--default table-wage">
                <colgroup>
                    <col style="width: 70px;">
                    <col style="width: 300px;">
                    <col style="width: 300px;">
                <col>	
                </colgroup>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên tiền công</th>
                    <th scope="col">Tiền công</th>
                    <th scope="col">Hợp đồng</th>
                    <th scope="col" {{isHidden Repair.isSuccess}}></th>
                </tr>
            </thead>
            <tbody>
                {{#each Detail_Wages}}
                <tr>
                    <td scope="row">{{sum @index 1}}</td>
                    <td scope="row" >{{this.wage_name}}</td>
                    <td scope="row">{{this.wage_money}}</td>
                    <td class="td-contain-check-icon" scope="row" >
                        <span {{isShow this.contracted}} class="oi oi-circle-check icon-check--on"></span>
                    </td> 
                    <td scope="row"  class="td-contain-btn" {{isHidden ../Repair.isSuccess}}>
                        <button {{isDisable this.contracted}} class="btn--edit-item" data-toggle="modal" data-target="#modal-edit-wage" data-id="{{this._id}}">Sửa</button>
                        <button {{isDisable this.contracted}} class="btn--delete-item" data-toggle="modal" data-target="#modal-delete-wage" data-id="{{this._id}}">Xóa</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
            </table>
        </div>
        {{!-- <div class="repair-detail-info__table-employee">
            <div class="table__header">
                <div class="table__header-name">Bảng thông tin nhân viên đảm nhiệm</div> 
                <button id="btn-add-employee" class="table__header-btn-add btn btn-primary"
                data-toggle="modal" data-target="#modal-add-employee" {{isHidden Repair.isSuccess}} >Thêm</button>     
            </div> 	
            <table class="table table--default table-employee">
                <colgroup>
                    <col style="width: 70px;">
                    <col style="width: 300px;">
                    <col style="width: 300px;">
                </colgroup>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên nhân viên</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Hợp đồng</th>
                    <th scope="col" {{isHidden Repair.isSuccess}}></th>
                </tr>
            </thead>
            <tbody>
                {{#each Detail_Employees}}
                <tr>
                    <td scope="row">{{sum @index 1}}</td>
                    <td scope="row">{{this.employee_name}}</td>
                    <td scope="row">{{this.employee_phone}}</td>
                    <td class="td-contain-check-icon" scope="row" >
                        <span {{isShow this.contracted}} class="oi oi-circle-check icon-check--on"></span>
                    </td> 
                    <td scope="row" class="td-contain-btn" {{isHidden ../Repair.isSuccess}}>
                        <button  {{isDisable this.contracted}} class="btn--edit-item" data-toggle="modal" data-target="#modal-edit-employee" data-id="{{this._id}}">Sửa</button>
                        <button  {{isDisable this.contracted}} class="btn--delete-item" data-toggle="modal" data-target="#modal-delete-employee" data-id="{{this._id}}">Xóa</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
            </table>
        </div> --}}
    </div>
</div>

{{!-- THÊM VẬT TƯ --}}
<form method="POST" action="" name="form-add-material" id="form-add-material">
    <div class="modal fade" id="modal-add-material" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Thêm vật tư</h5>
            <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="" class="col-form-label">Nội dung:</label>
                    <input type="text" class="form-control" name="content" id="add-content">
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="" class="col-form-label">Vật tư:</label>
                    <select type="text" class="form-control" name="material_name" id="select-material">
                        <option>-- Chọn vật tư --</option>
                        {{#each Materials}}
                        <option data-id="{{this._id}}" data-amount="{{this.amount}} "
                            data-sellprice="{{this.sell_price}}">{{this.name}}</option>
                        {{/each}}

                    </select>
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="" class="col-form-label">Số lượng:</label>
                    <select type="text" class="form-control" name="amount" id="select-amount">
                        <option data-id="">-- Chọn số lượng --</option>
                        <option value="1" data-id="">1</option>
                        <option value="2" data-id="">2</option>
                        <option value="3" data-id="">3</option>
                    </select>
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="" class="col-form-label">Đơn giá:</label>
                    <input type="text" class="form-control disabled" name="sell_price" id="sell-price" >
                </div>
                <div class="form-group">
                    <label for="" class="col-form-label">Thành tiền:</label>
                    <input type="text" class="form-control disabled" name="total_money" id="total-money" >
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
            <button id="btn-accept-add-material" type="submit" class="btn btn--send-dialog">Thêm</button>
        </div>
    </div>
    </div>
    </div>
</form>
{{!-- THÊM TIỀN CÔNG --}}
<form method="POST" action="" name="form-add-wage" id="form-add-wage">
    <div class="modal fade" id="modal-add-wage" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Thêm tiền công</h5>
            <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="" class="col-form-label">Tên tiền công:</label>
                    <select type="text" class="form-control" name="wage_name" id="select-wage">
                        <option>-- Chọn tiền công --</option>
                        {{#each Wages}}
                        <option  data-id="{{this._id}}" data-money="{{this.money}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="" class="col-form-label">Tiền công:</label>
                    <input type="text" class="form-control disabled" name="wage_money" id="input-wage-money">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
            <button id="btn-accept-add-wage" type="submit" class="btn btn--send-dialog">Thêm</button>
        </div>
    </div>
    </div>
    </div>
</form>
{{!-- THÊM NHÂN VIÊN --}}
<form method="POST" action="" name="form-add-employee" id="form-add-employee">
    <div class="modal fade" id="modal-add-employee" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Thêm nhân viên đảm nhiệm sửa chữa</h5>
            <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="" class="col-form-label">Tên nhân viên sửa chữa:</label>
                    <select type="text" class="form-control" name="employee_name" id="select-employee">
                        <option>-- Chọn nhân viên sửa chữa --</option>
                        {{#each Employees}}
                        <option  data-id="{{this._id}}" data-phone="{{this.phone}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="" class="col-form-label">Số điện thoại:</label>
                    <input readonly type="text" class="form-control" name="employee_phone" id="input-employee-phone">
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
            <button id="btn-accept-add-employee" type="submit" class="btn btn--send-dialog">Thêm</button>
        </div>
    </div>
    </div>
    </div>
</form>

{{!-- SỬA VẬT TƯ --}}
<form method="POST" action="" name="form-edit-material" id="form-edit-material">
    <div class="modal fade" id="modal-edit-material" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Thêm vật tư</h5>
            <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="" class="col-form-label">Nội dung:</label>
                    <input type="text" class="form-control" name="content" id="input-edit-content">
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="" class="col-form-label">Vật tư:</label>
                    <select type="text" class="form-control" name="material_name"
                    id="select-edit-material">
                        <option>-- Chọn vật tư --</option>
                        {{#each Materials}}
                        <option data-id="{{this._id}}" data-amount="{{this.amount}} "
                            data-sellprice="{{this.sell_price}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="" class="col-form-label">Số lượng:</label>
                    <select type="text" class="form-control" name="amount"
                    id="select-edit-amount">
                        <option data-id="">-- Chọn số lượng --</option>
                        <option value="1" data-id="">1</option>
                        <option value="2" data-id="">2</option>
                        <option value="3" data-id="">3</option>
                    </select>
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="" class="col-form-label">Đơn giá:</label>
                    <input readonly type="text" class="form-control" name="sell_price" id="input-edit-sell-price">
                </div>
                <div class="form-group">
                    <label for="" class="col-form-label">Thành tiền:</label>
                    <input readonly type="text" class="form-control" name="total_money" id="input-edit-total-money">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
            <button id="btn-accept-edit-material" type="submit" class="btn btn--send-dialog">Sửa</button>
        </div>
    </div>
    </div>
    </div>
</form>
{{!-- SỬA TIỀN CÔNG --}}
<form method="POST" action="" name="form-edit-wage" id="form-edit-wage">
    <div class="modal fade" id="modal-edit-wage" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Sửa tiền công</h5>
            <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="" class="col-form-label">Tên tiền công:</label>
                    <select type="text" class="form-control" name="wage_name"
                    id="select-edit-wage">
                        <option>-- Chọn tiền công --</option>
                        {{#each Wages}}
                        <option data-id="{{this._id}}" data-money="{{this.money}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="" class="col-form-label">Tiền công:</label>
                    <input readonly type="text" class="form-control" name="wage_money" id="input-edit-wage-money">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
            <button id="btn-accept-edit-wage" type="submit" class="btn btn--send-dialog">Sửa</button>
        </div>
    </div>
    </div>
    </div>

</form>
{{!-- SỬA NHÂN VIÊN --}}
<form method="POST" action="" name="form-edit-employee" id="form-edit-employee">
    <div class="modal fade" id="modal-edit-employee" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Sửa nhân viên sửa chữa</h5>
            <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <select type="text" class="form-control" name="employee_name"
                    id="select-edit-employee">
                        <option>-- Chọn nhân viên sửa chữa --</option>
                        {{#each Employees}}
                        <option data-id="{{this._id}}" data-phone="{{this.phone}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <label for="" class="col-form-label">Số điện thoại:</label>
                    <input readonly type="text" class="form-control" name="employee_phone" id="input-edit-employee-phone">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
            <button id="btn-accept-edit-employee" type="submit" class="btn btn--send-dialog">Sửa</button>
        </div>
    </div>
    </div>
    </div>

</form>
{{!-- XÓA VẬT TƯ --}}
<form method="POST" action="" name="form-delete-material"></form>
<div class="modal fade" id="modal-delete-material" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa vật tư</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắc đồng ý muốn xóa nội dung sửa chữa này!!!!.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn--close-dialog" data-dismiss="modal">Đóng</button>
                <button id="btn-accept-delete-material" type="button" class="btn--delete-dialog">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
{{!-- XÓA TIỀN CÔNG--}}
<form method="POST" action="" name="form-delete-wage"></form>
<div class="modal fade" id="modal-delete-wage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa tiền công</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắc đồng ý muốn xóa nội dung tiền công này!!!!.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn--close-dialog" data-dismiss="modal">Đóng</button>
                <button id="btn-accept-delete-wage" type="button" class="btn--delete-dialog">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
{{!-- XÓA NHÂN VIÊN --}}
<form method="POST" action="" name="form-delete-employee"></form>
<div class="modal fade" id="modal-delete-employee" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa nhân viên sửa chữa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắc đồng ý muốn xóa nhân viên sửa chữa này!!!!.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn--close-dialog" data-dismiss="modal">Đóng</button>
                <button id="btn-accept-delete-employee" type="button" class="btn--delete-dialog">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<form method="POST" action="" name="form-ordered"></form>
<div class="modal fade" id="modal-ordered" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận lệnh sửa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắc đồng ý muốn tiến hành sửa chữa xe này!!!!.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn--close-dialog" data-dismiss="modal">Đóng</button>
                <button id="btn-accept-ordered" type="button" class="btn--send-dialog">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<form method="POST" action="" name="form-accept-success"></form>
<div class="modal fade" id="modal-success" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận hoàn thành sửa chữa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắc đồng ý xác nhận hoàn thành sửa chữa xe này!!!!
                    Sau khi xác nhận mọi thông tin trong phiếu sửa chữa này đều không thể sửa đổi!!!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn--close-dialog" data-dismiss="modal">Đóng</button>
                <button id="btn-accept-success" type="button" class="btn--send-dialog">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<form method="POST" action="" name="form-quote">
    <div class="modal fade " id="modal-quote" tabindex="-1" role="dialog">
        <div class="modal-dialog repair-modal-quote-dialog" role="document">
            <div class="modal-content repair-modal-quote-content">
                <div class="modal-header">
                    <h5 class="modal-title">Phiếu báo giá</h5>
                    <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-quote-info" style="font-size: 14px;">
                            <div class="info-group">
                                <label for="">Mã phiếu sửa chữa:</label>
                                <label id="label-repair-id">{{Repair._id}}</label>
                            </div>
                            <div class="info-group">
                                <label for="">Tên khách hàng:</label>
                                <label >{{Repair.of_reception.of_customer.name}}</label>
                            </div>
                            <div class="info-group">
                                <label for="">Biển số xe:</label>
                                <label >{{Repair.of_reception.license}}</label>
                            </div>
                            <div class="info-group">
                                <label for="">Tổng tiền:</label>
                                <label >{{Repair.debt}}</label>
                            </div>
                            <div class="info-group">
                                <label for="">Ngày báo giá:</label>
                                <label id="quote-date" ></labelquote-date-print>
                            </div>
                        </div>
                        <label >Danh sách vật tư</label>
                        <table class="table table--default" style="overflow-y:scroll">
                            <colgroup>
                                <col style="width: 70px;">
                                <col style="width: 300px;">
                                <col style="width: 270px;">
                                <col style="width: 100px;">
                                <col style="width: 100px;"> 
                                <col style="width: 100px;"> 
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Nội dung</th>
                                    <th scope="col">Tên vật tư</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Đơn giá</th>
                                    <th scope="col">Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each Detail_Materials}}
                                <tr>
                                    <td scope="row">{{sum @index 1}}</td>
                                    <td scope="row">{{this.content}}</td>
                                    <td scope="row">{{this.material_name}}</td>
                                    <td scope="row">{{this.amount}}</td>
                                    <td scope="row">{{this.sell_price}}</td>
                                    <td scope="row">{{this.total_money}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <label >Danh sách tiền công</label>
                        <table class="table table--default table-wage">
                            <colgroup>
                                <col style="width: 70px;">
                                <col style="width: 300px;">
                                <col style="width: 300px;">
                                <col>	
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Tên tiền công</th>
                                    <th scope="col">Tiền công</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each Detail_Wages}}
                                <tr>
                                    <td scope="row">{{sum @index 1}}</td>
                                    <td scope="row" >{{this.wage_name}}</td>
                                    <td scope="row">{{this.wage_money}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
                    <button id="btn-print-quote" type="button" class="btn btn--send-dialog">In báo giá</button>
                </div>
            </div>
        </div>
    </div>

</form>

<div hidden>
    <div id="content-quote" class="modal-content repair-modal-quote-content">
    <div class="modal-header">
        <h5 class="modal-title">Phiếu báo giá</h5>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-quote-info" style="font-size: 14px;">
                <div class="info-group">
                    <label for="">Mã phiếu sửa chữa:</label>
                    <label id="label-repair-id">{{Repair._id}}</label>
                </div>
                <div class="info-group">
                    <label for="">Tên khách hàng:</label>
                    <label >{{Repair.of_reception.name}}</label>
                </div>
                <div class="info-group">
                    <label for="">Biển số xe:</label>
                    <label >{{Repair.of_reception.license}}</label>
                </div>
                <div class="info-group">
                    <label for="">Tổng tiền:</label>
                    <label >{{Repair.debt}}</label>
                </div>
                <div class="info-group">
                    <label for="">Ngày báo giá:</label>
                    <label id="quote-date-print"></label>
                </div>
            </div>
            <label >Danh sách vật tư</label>
            <table class="table table--default" style="overflow-y:scroll">
                <colgroup>
                    <col style="width: 70px;">
                    <col style="width: 300px;">
                    <col style="width: 270px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;"> 
                    <col style="width: 100px;"> 
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Nội dung</th>
                        <th scope="col">Tên vật tư</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each Detail_Materials}}
                    <tr>
                        <td scope="row">{{sum @index 1}}</td>
                        <td scope="row">{{this.content}}</td>
                        <td scope="row">{{this.material_name}}</td>
                        <td scope="row">{{this.amount}}</td>
                        <td scope="row">{{this.sell_price}}</td>
                        <td scope="row">{{this.total_money}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <label >Danh sách tiền công</label>
            <table class="table table--default table-wage">
                <colgroup>
                    <col style="width: 70px;">
                    <col style="width: 300px;">
                    <col style="width: 300px;">
                    <col>	
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên tiền công</th>
                        <th scope="col">Tiền công</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each Detail_Wages}}
                    <tr>
                        <td scope="row">{{sum @index 1}}</td>
                        <td scope="row" >{{this.wage_name}}</td>
                        <td scope="row">{{this.wage_money}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </form>
    </div>
</div>
</div>

{{!-- Contract --}}
<form method="GET" name="form-contract"></form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var btnAcceptAddMaterial = $('#btn-accept-add-material')
        var btnAddWage = $('#btn-add-wage')
        var btnAddEmployee = $('#btn-add-employee')
        var repairId = $('#label-repair-id')[0].textContent;
        var selectMaterial = document.querySelector('#select-material')
        var selectAmount = document.querySelector('#select-amount')
        var sellPrice = document.querySelector('#sell-price')
        var totalMoney = document.querySelector('#total-money')
        // VALIDATOR
        var formAddMaterial = document.forms['form-add-material']
        Validator({
            form: '#form-add-material', // id của cái form cần validate
            errorSelector: '.form-message', // tên class để hiện cái lỗi
            rules: [
                Validator.isRequire('#add-content', 'Vui lòng nhập nội dung'),
                Validator.isRequireSelectBox('#select-material','-- Chọn vật tư --','Vui lòng chọn vật tư'),
                Validator.isRequireSelectBox('#select-amount','-- Chọn số lượng --','Vui lòng chọn số lượng'),
            ],
            onSubmit: function() {
                var optionSelected = selectMaterial.options[selectMaterial.options.selectedIndex]
                var materialId = optionSelected.getAttribute('data-id')
                formAddMaterial.action =  '' + materialId + '/create-material'
                formAddMaterial.submit()
            }
        })
        var formAddWage = document.forms['form-add-wage']
        Validator({
            form: '#form-add-wage', // id của cái form cần validate
            errorSelector: '.form-message', // tên class để hiện cái lỗi
            rules: [
                Validator.isRequireSelectBox('#select-wage','-- Chọn tiền công --','Vui lòng chọn nhân viên sữa chữa'),
            ],
            onSubmit: function() {
                formAddWage.action = wageSelectedId + '/create-wage'
                formAddWage.submit()
            }
        })
        var formAddEmployee = document.forms['form-add-employee']
        Validator({
            form: '#form-add-employee', // id của cái form cần validate
            errorSelector: '.form-message', // tên class để hiện cái lỗi
            rules: [
                Validator.isRequireSelectBox('#select-employee','-- Chọn nhân viên sửa chữa --','Vui lòng chọn nhân viên sữa chữa'),
            ],
            onSubmit: function() {
                formAddEmployee.action =  employeeSelectedId + '/create-employee'
                formAddEmployee.submit()
            }
        })
        var formEditMaterial = document.forms['form-edit-material']
        Validator({
            form: '#form-edit-material', // id của cái form cần validate
            errorSelector: '.form-message', // tên class để hiện cái lỗi
            rules: [
                Validator.isRequire('#input-edit-content', 'Vui lòng nhập nội dung'),
                Validator.isRequireSelectBox('#select-edit-material','-- Chọn vật tư --','Vui lòng chọn vật tư'),
                Validator.isRequireSelectBox('#select-edit-amount','-- Chọn số lượng --','Vui lòng chọn số lượng'),
            ],
            onSubmit: function() {
                formEditMaterial.action =  materialItemId +'/'+ materialSelectedEdit.getAttribute('data-id') + '/edit-material?_method=PUT'
                formEditMaterial.submit() 
            }
        })
        var formEditWage = document.forms['form-edit-wage']
        Validator({
            form: '#form-edit-wage', // id của cái form cần validate
            errorSelector: '.form-message', // tên class để hiện cái lỗi
            rules: [
                Validator.isRequireSelectBox('#select-edit-wage','-- Chọn tiền công --','Vui lòng chọn nhân viên sữa chữa'),
            ],
            onSubmit: function() {
                formEditWage.action = wageItemId + '/' + wageSelectedId + '/edit-wage?_method=PUT'
                formEditWage.submit()
            }
        })
        var formEditEmployee = document.forms['form-edit-employee']
        Validator({
            form: '#form-edit-employee', // id của cái form cần validate
            errorSelector: '.form-message', // tên class để hiện cái lỗi
            rules: [
                Validator.isRequireSelectBox('#select-edit-employee','-- Chọn nhân viên sửa chữa --','Vui lòng chọn nhân viên sữa chữa'),
            ],
            onSubmit: function() {
                formEditEmployee.action = 'repairs/' + employeeItemId + '/' + employeeSelectedId + '/edit-employee?_method=PUT'
                formEditEmployee.submit()
            }
        })
        var btnAcceptSuccess = document.querySelector('#btn-accept-success')
        var formAcceptSuccess = document.forms['form-accept-success']

        btnAcceptSuccess.onclick = function() {
            formAcceptSuccess.action = 'accept-success-repair?_method=PUT'
            formAcceptSuccess.submit()
        }

        var repairStatus = document.querySelector('#repair-status')
        var btnQuote = $('#btn-quote')
        var btnContract = $('#btn-contract')
        var btnOrdered = $('#btn-ordered')
        var btnSuccess = $('#btn-success')
        console.log(btnQuote)
        console.log(btnContract)
        console.log(btnOrdered)
        var isQuoted = repairStatus.getAttribute('data-quoted')
        var isContracted = repairStatus.getAttribute('data-contracted')
        var isOrdered = repairStatus.getAttribute('data-ordered')
        var isEdited = repairStatus.getAttribute('data-edited')
        var isSuccess = repairStatus.getAttribute('data-success')

        if (isContracted == 'true') 
        {
            btnQuote.attr('disabled', true)
            btnContract.attr('disabled', true)
            btnOrdered.attr('disabled', false)
        }
        else {
            btnOrdered.attr('disabled', true)
        }
        if (isOrdered == 'true'){
            btnOrdered.attr('disabled', true)
            btnSuccess.attr('disabled', false)
        }
        else {
            btnSuccess.attr('disabled', true)
        }
        if (isSuccess == 'true') {
            btnSuccess.attr('hidden', true)
            btnOrdered.attr('hidden', true)
            btnContract.attr('hidden', true)
            btnQuote.attr('hidden', true)
        }
        if (isEdited == 'true') {
            btnOrdered.attr('disabled', true)
            btnContract.attr('disabled', false)
            btnQuote.attr('disabled', false)
        }
        
        if (isEdited =='false' && isOrdered =='true' && isContracted =='true') {
            btnOrdered.attr('disabled', true)
            btnContract.attr('disabled', true)
            btnQuote.attr('disabled', true)
        }
        if (isEdited =='false' && isOrdered =='false' && isContracted =='false') {
            btnOrdered.attr('disabled', true)
            btnContract.attr('disabled', true)
            btnQuote.attr('disabled', true)
        }
        if (isEdited == 'true' && isOrdered == 'true'){
            btnSuccess.attr('disabled', false)
        } 
        var btnAcceptOrdered = document.querySelector('#btn-accept-ordered')
        var formOrdered = document.forms['form-ordered']
        btnAcceptOrdered.onclick = function() {
            formOrdered.action = 'ordered'
            formOrdered.submit()
        }
        
        var btnPrintQuote = document.querySelector('#btn-print-quote')
        btnPrintQuote.onclick = function() {
            $('#content-quote').textContent = (new Date()).toISOString()
            var divContents = document.getElementById("content-quote").innerHTML;
            var a = window.open('', '', 'height=500, width=500');
            a.document.write(`<html> 
                <head>
                    <meta charset="UTF-8">
                    <meta http-equiv="X-UA-Compatible" content="IE=edge">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Document</title>
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                    <link rel="stylesheet" href="/vendor/open-iconic-master/font/css/open-iconic-bootstrap.css">
                    <link rel="stylesheet" href="/css/base.css">
                    <link rel="stylesheet" href="/css/repair.css">
                </head>`);
            a.document.write(divContents);
            a.document.write('</body></html>');
            a.print();
            a.document.close();
            a.window.close()
        }

        

        function reloadTotalPrice(sellPirce, amount) {
            if (sellPrice == null || amount == null) {
                totalMoney.value = 0;
                return
            }
            var sum = sellPirce * amount;
            totalMoney.value = sum
            return
        }
        selectMaterial.onchange = function() {
            var optionSelected = this.options[this.options.selectedIndex]
            var materialId = optionSelected.getAttribute('data-id')
            var materialAmount = optionSelected.getAttribute('data-amount')
            var materialSellPrice = optionSelected.getAttribute('data-sellprice')
            sellPrice.value = materialSellPrice
            while (selectAmount.options.length > 1){
                selectAmount.remove(selectAmount.options.length-1)
            }
            for (var i = 1 ; i <= materialAmount ; i++){
                selectAmount.options.add(new Option(i))
            }   
            reloadTotalPrice(materialSellPrice, selectAmount.options.selectedIndex)
        }
        selectAmount.onchange = function() {
            var optionSelected = selectMaterial.options[selectMaterial.options.selectedIndex]
            var materialSellPrice = optionSelected.getAttribute('data-sellprice')
            reloadTotalPrice(materialSellPrice, selectAmount.options.selectedIndex)
        }

        ///
        /// Tiền công
        ///

        var selectWage = document.querySelector('#select-wage')
        var inputWageMoney = document.querySelector('#input-wage-money')
        var wageSelected;
        var wageSelectedId;
        var wageSelectedMoney;
        function loadWageMoney(money) {
            inputWageMoney.value = money
        }

        selectWage.onchange = function() {
            wageSelected = this.options[this.options.selectedIndex]
            wageSelectedId = wageSelected.getAttribute('data-id')
            wageSelectedMoney = wageSelected.getAttribute('data-money')
            loadWageMoney(wageSelectedMoney)
        }

        ///
        /// Nhân viên
        ///
        var selectEmployee = document.querySelector('#select-employee')
        var inputEmployeePhone = document.querySelector('#input-employee-phone')
        var employeeSelected;
        var employeeSelectedId;
        var employeePhone;
        function loadEmployeePhone(phone) {
            inputEmployeePhone.value = phone
        }
        selectEmployee.onchange = function() {
            employeeSelected = this.options[this.options.selectedIndex]
            employeeSelectedId = employeeSelected.getAttribute('data-id')
            employeePhone = employeeSelected.getAttribute('data-phone')
            loadEmployeePhone(employeePhone)
        }

        ///
        /// SỬA VẬT TƯ
        ///
        var materialItemId
        var rowFocus
        var selectAmountEdit = document.querySelector('#select-edit-amount')
        var selectMaterialEdit = document.querySelector('#select-edit-material')
        var inputSellPriceEdit = document.querySelector('#input-edit-sell-price')
        var inputTotalMoneyEdit = document.querySelector('#input-edit-total-money')
        var materialSelectedEdit;
        var btnAcceptEditMaterial = document.querySelector('#btn-accept-edit-material')

        function loadTotalMoneyEdit(){
            console.log(inputSellPriceEdit.value )
            console.log(selectAmount.options.selectedIndex )
            if (inputSellPriceEdit.value == null || selectAmountEdit.options.selectedIndex == null) {
                inputTotalMoneyEdit.value = 0;
                return
            }
            else 
            inputTotalMoneyEdit.value = inputSellPriceEdit.value * selectAmountEdit.options.selectedIndex
        }
        function loadAmountEdit(){
            var select = document.querySelector('#select-edit-amount')
            var amount = materialSelectedEdit.getAttribute('data-amount')
            while(select.options.length > 1){
                select.remove(1)
            }
            for(var i = 1 ; i <= amount ; i++){
                select.options.add(new Option(i,i))
            }
        }
        selectAmountEdit.onchange = function() {
            loadTotalMoneyEdit()
        }
        selectMaterialEdit.onchange = function() {
            materialSelectedEdit = this.options[this.options.selectedIndex]
            inputSellPriceEdit.value = materialSelectedEdit.getAttribute('data-sellprice')
            loadAmountEdit()
            loadTotalMoneyEdit()
        }
        $('#form-edit-material').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            materialItemId = button.data('id')
            
            rowFocus = button.parents('tr')[0]
            $('#input-edit-content').val(rowFocus.cells[1].textContent)
            $('#input-edit-sell-price').val(rowFocus.cells[4].textContent)
            $('#input-edit-total-money').val(rowFocus.cells[5].textContent)
            console.log(rowFocus.cells[2].textContent)
            for (var i = 1 ; i < selectMaterialEdit.options.length; i++) {
                if (rowFocus.cells[2].textContent == selectMaterialEdit.options[i].textContent){
                    selectMaterialEdit.options.item(i).selected = 'selected'
                    materialSelectedEdit = selectMaterialEdit.options.item(i)
                    
                }
                
            }
            loadAmountEdit()
            for (var i = 1 ; i < selectAmountEdit.options.length; i++) {
                
                if (rowFocus.cells[3].textContent == selectAmountEdit.options[i].textContent){
                    selectAmountEdit.options.item(i).selected = 'selected'
                }
            }
        })

        ///
        /// SỬA TIỀN công
        /// 
        var wageItemId
        var wageItemFocus
        var selectEditWage = document.querySelector('#select-edit-wage')
        var inputEditWageMoney = document.querySelector('#input-edit-wage-money')
        var wageSelectedId
        var wageMoney
        var btnAcceptEditWage = document.querySelector('#btn-accept-edit-wage')
        selectEditWage.onchange = function() {
            wageSelectedId = selectEditWage.options[this.options.selectedIndex].getAttribute('data-id')
            wageMoney = selectEditWage.options[this.options.selectedIndex].getAttribute('data-money')
            $('#input-edit-wage-money').val(wageMoney)
        }
        $('#form-edit-wage').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            wageItemId = button.data('id')
            wageItemFocus = button.parents('tr')[0]
            $('#input-edit-wage-money').val(wageItemFocus.cells[2].textContent)
        
            for(var i = 1; i < selectEditWage.options.length; i++){
                if (selectEditWage.options[i].text == wageItemFocus.cells[1].textContent) {
                    selectEditWage.options.item(i).selected = 'selected'
                    break;
                }
            }
        })

        ///
        /// SỬA NHÂN VIÊN
        /// 
        var employeeItemId
        var employeeItemFocus
        var selectEditEmployee = document.querySelector('#select-edit-employee')
        var inputEditEmployeePhone = document.querySelector('#input-edit-employee-phone')
        var employeeSelectedId
        var employeePhone
        var btnAcceptEditEmployee = document.querySelector('#btn-accept-edit-employee')
        selectEditEmployee.onchange = function() {
            employeeSelectedId = selectEditEmployee.options[this.options.selectedIndex].getAttribute('data-id')
            employeePhone = selectEditEmployee.options[this.options.selectedIndex].getAttribute('data-phone')
            $('#input-edit-employee-phone').val(employeePhone)
        }
        $('#form-edit-employee').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            employeeItemId = button.data('id')
            employeeItemFocus = button.parents('tr')[0]
            console.log(employeeItemFocus)
            $('#input-edit-employee-phone').val(employeeItemFocus.cells[2].textContent)

            for(var i = 1; i < selectEditEmployee.options.length; i++){
                if (selectEditEmployee.options[i].text == employeeItemFocus.cells[1].textContent) {
                    selectEditEmployee.options.item(i).selected = 'selected'
                    break;
                }
            }
        })
        //btn-contract
        var btnContract = document.querySelector('#btn-contract')
        var formContract = document.forms['form-contract']
        btnContract.onclick = function() {
            formContract.action = 'contract'
            formContract.submit()
        }

        // XÓA VẬT TƯ 
        var btnAcceptDeleteMaterial = document.querySelector('#btn-accept-delete-material')
        var detailMaterialIdDelete
        var formDeleteMaterial = document.forms['form-delete-material']
        $('#modal-delete-material').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            detailMaterialIdDelete = button.data('id')
        })
        btnAcceptDeleteMaterial.onclick = function() {
            formDeleteMaterial.action = 'repairs/' +repairId + '/' + detailMaterialIdDelete + '/delete-detail-material?_method=DELETE'
            formDeleteMaterial.submit()
        }
        // XÓA Tiền công
        var btnAcceptDeleteWage = document.querySelector('#btn-accept-delete-wage')
        var detailWageIdDelete
        var formDeleteWage = document.forms['form-delete-wage']
        $('#modal-delete-wage').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            detailWageIdDelete = button.data('id')
        })
        btnAcceptDeleteWage.onclick = function() {
            formDeleteWage.action = 'repairs/'+ repairId + '/'  + detailWageIdDelete + '/delete-detail-wage?_method=DELETE'
            formDeleteWage.submit()
        }
        // XÓA nhân viên sửa chữa
        var btnAcceptDeleteEmployee = document.querySelector('#btn-accept-delete-employee')
        var detailEmployeeIdDelete
        var formDeleteEmployee = document.forms['form-delete-employee']
        $('#modal-delete-employee').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            detailEmployeeIdDelete = button.data('id')
        })
        btnAcceptDeleteEmployee.onclick = function() {
            formDeleteEmployee.action = 'repairs/' + repairId + '/' + detailEmployeeIdDelete + '/delete-detail-employee?_method=DELETE'
            formDeleteEmployee.submit()
        }

        $('#modal-quote').on('show.bs.modal', function (event) {
            //
            document.querySelector('#quote-date').textContent = (new Date()).toISOString().substring(0, 10)
            console.log($('#quote-date').textContent)
        })
    })
</script>
