<link rel="stylesheet" href="/css/repair.css">
<div class="repair-detail__title">
    Chi tiết sửa chữa
</div>

<div class="back">

</div>
<div class="repair-detail__navbar">
    <div class="repair-detail__nav">
        <button class="repair-detail__nav-item">Thông tin sửa chữa</button>
        <button class="repair-detail__nav-item">Thông tin hợp đồng</button>
    </div>
    <div class="repair-detail__toolbar">
        <button class="repair-detail__toolbar-item">Báo giá</button>
        <button class="repair-detail__toolbar-item">Lập hợp đồng</button>
        <button class="repair-detail__toolbar-item">Lệnh sửa</button>
    </div>
</div>


<div class="repair-detail-info">
    <div class="repair-detail-info__general">
        <div class="repair-detail-info__general-item">
            <div class="repair-detail-info__general-item-customer">
                <div class="info-group">
                    <label for="">Mã phiếu sửa chữa:</label>
                    <label id="label-repair-id">{{Repair._id}}</label>
                </div>
                <div class="info-group">
                    <label for="">Tên khách hàng:</label>
                    <label >{{Repair.of_reception.name}}</label>
                </div>
                <div class="info-group">
                    <label for="">Biển số xe:</label>
                    <label >{{Repair.of_reception.license}}</label>
                </div>
            </div>
            <div class="repair-detail-info__general-item-status">
                <div class="info-group">
                    <label for="">Trạng thái:</label>
                    <label >{{Repair.status}}</label>
                </div>
                <div class="info-group">
                    <label for="">Tổng tiền:</label>
                    <label >{{Repair.debt}}</label>
                </div>
                <div class="info-group">
                    <label for="">Hành động kế tiếp:</label>
                    <label >Lập hợp đồng</label>
                </div>
            </div>
            
        </div>
    </div>
    <div class="repair-detail-info__table-supplies">
        <div class="table__header">
            <div class="table__header-name">Bảng thông tin vật tư</div> 
            <button id="btn-add-material" class="table__header-btn-add btn-success btn"
                data-toggle="modal" data-target="#form-add-material"
                data-id="{{repair._id}}">Thêm</button>
        </div>
        
        <table class="table table--default">
            <colgroup>
            <col style="width: 100px;">
            <col style="width: 200px;">
            <col>
            </colgroup>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nội dung</th>
                <th scope="col">Tên vật tư</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Đơn giá</th>
                <th scope="col">Thành tiền</th>
                <th scope="col" style="width: 180px;"></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td scope="row">ABC</td>
                <td scope="row">ABC</td>
                <td scope="row">ABC</td>
                <td scope="row">ABC</td>
                <td scope="row">ABC</td>
                <td scope="row">ABC</td>
                <td scope="row">
                    <button class="btn--edit-item" data-toggle="modal" data-target="#form-edit" data-id="{{this._id}}">Sửa</button>
                    <button class="btn--delete-item" data-toggle="modal" data-target="#form-delete" data-id="{{this._id}}">Xóa</button>
                </td>
            </tr>
        </tbody>
        </table>
    </div>

    <div class="repair-detail-info__table-wage">
        <div class="table__header">
            <div class="table__header-name">Bảng thông tiền công</div> 
            <button id="btn-add-wage" class="table__header-btn-add btn-success btn">Thêm</button>     
        </div> 				    
        <table class="table table--default">
            <colgroup>
            <col style="width: 100px;">
            <col style="width: 200px;" >
            <col>	
            </colgroup>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên tiền công</th>
                <th scope="col">Tiền công</th>
                <th scope="col" style="width: 180px;"></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td scope="row">ABC</td>
                <td scope="row">ABC</td>
                <td scope="row">ABC</td>
                <td scope="row">
                    <button class="btn--edit-item" data-toggle="modal" data-target="#form-edit" data-id="{{this._id}}">Sửa</button>
                    <button class="btn--delete-item" data-toggle="modal" data-target="#form-delete" data-id="{{this._id}}">Xóa</button>
                </td>
            </tr>
        </tbody>
        </table>
    </div>

    <div class="repair-detail-info__table-employee">
        <div class="table__header">
            <div class="table__header-name">Bảng thông tin nhân viên đảm nhiệm</div> 
            <button id="btn-add-employee" class="table__header-btn-add btn-success btn">Thêm</button>     
        </div> 	
        <table class="table table--default">
            <colgroup>
            <col style="width: 100px;">
            <col >
            <col>
            </colgroup>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên nhân viên</th>
                <th scope="col" style="width: 180px;"></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td scope="row">ABC</td>
                <td scope="row">ABC</td>
                <td scope="row">
                    <button class="btn--edit-item" data-toggle="modal" data-target="#form-edit" data-id="{{this._id}}">Sửa</button>
                    <button class="btn--delete-item" data-toggle="modal" data-target="#form-delete" data-id="{{this._id}}">Xóa</button>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>


<form method="POST" action="" name="form-add-material">
    <div class="modal fade" id="form-add-material" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Thêm vật tư</h5>
            <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="" class="col-form-label">Nội dung:</label>
                    <input type="text" class="form-control" name="content">
                </div>
                <div class="form-group">
                    <label for="" class="col-form-label">Vật tư:</label>
                    <select type="text" class="form-control" name="name">
                        {{#each Materials}}
                        <option value="{{this._id}}" data-id="">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="" class="col-form-label">Số lượng:</label>
                    <select type="text" class="form-control" name="amount">
                        <option value="1" data-id="">1</option>
                        <option value="2" data-id="">2</option>
                        <option value="3" data-id="">3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="" class="col-form-label">Đơn giá:</label>
                    <input type="text" class="form-control" name="sell_price">
                </div>
                <div class="form-group">
                    <label for="" class="col-form-label">Thành tiền:</label>
                    <input type="text" class="form-control" name="total_money">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
            <button id="btn-accept-add-material" type="button" class="btn btn--send-dialog">Thêm</button>
        </div>
    </div>
    </div>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var btnAcceptAddMaterial = $('#btn-accept-add-material')
        var btnAddWage = $('#btn-add-wage')
        var btnAddEmployee = $('#btn-add-employee')
        var repairId = $('#label-repair-id')[0].textContent;
        formAdd = document.forms['form-add-material']

        btnAcceptAddMaterial.click(function() {

            formAdd.action =  '/repairs/' + repairId + '/create-material'
            formAdd.submit()
        })

    })
</script>
