<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {{!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    --}}
    <link rel="stylesheet" href="/font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/font/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/app.css">

</head>

<body>
    <div class="app">
        <div class="menu" {{isHidden login}}>
            <div class="menu__body" >
                <div class="menu__body-item " >
                    <button class="menu__body-mainlist {{activeMainMenu activeDashBoard}} " type="button" id="dash-board"
                        data-transfer="http://localhost:8080/{{User._id}}/dashboard">
                            <span class="menu__body-mainlist-icon ti-home"></span>
                            <div class="menu__body-mainlist-name">Trang chủ</div>
                    </button>
                </div>
                <div class="menu__body-item ">
                    <button class="menu__body-mainlist {{activeMainMenu activeManagementCar}} "{{checkPermission Permissions 1}} type="button"
                        data-toggle="collapse" data-target="#menu__body-sublist-quanlyxe">
                        <span class="menu__body-mainlist-icon ti-car"></span>
                        <div class="menu__body-mainlist-name">Quản lý xe</div>
                        <span class="menu__body-mainlist-icon-expand ti-angle-left"></span>
                    </button>
                    <div class="menu__body-sublist collapse {{expandSubMenu activeManagementCar}}"
                        id="menu__body-sublist-quanlyxe">
                        <div data-transfer="http://localhost:8080/{{User._id}}/reception"
                            class="menu__body-sublist-item {{activeItemMenu activeReception}}">Tiếp nhận xe</div>
                        <div data-transfer="http://localhost:8080/{{User._id}}/repairs"
                            class="menu__body-sublist-item {{activeItemMenu activeRepair}}">Theo dõi sửa chữa</div>
                        <div data-transfer="http://localhost:8080/{{User._id}}/brand"
                            class="menu__body-sublist-item {{activeItemMenu activeBrand}}">Quản lý hiệu xe</div>
                        <div data-transfer="http://localhost:8080/{{User._id}}/wage"
                            class="menu__body-sublist-item {{activeItemMenu activeWage}}">Quản lý tiền công</div>
                    </div>
                </div>

                <div class="menu__body-item ">
                    <button class="menu__body-mainlist {{activeMainMenu activeManagementCustomer}}  {{checkPermission Permissions 2}}" type="button"
                        data-toggle="collapse" data-target="#menu__body-sublist-management-customer">
                        <span class="menu__body-mainlist-icon ti-user"></span>
                        <div class="menu__body-mainlist-name">Quản lý khách hàng</div>
                        <span class="menu__body-mainlist-icon-expand ti-angle-left"></span>
                    </button>
                    <div class="menu__body-sublist collapse {{expandSubMenu activeManagementCustomer}}"
                        id="menu__body-sublist-management-customer">
                        <div data-transfer="http://localhost:8080/{{User._id}}/customer"
                            class="menu__body-sublist-item {{activeItemMenu activeCustomer}}">Danh sách khách hàng</div>
                        <div data-transfer="http://localhost:8080/{{User._id}}/customerdebt"
                            class="menu__body-sublist-item {{activeItemMenu activeCustomerDebt}}">Theo dõi công nợ</div>
                        <div data-transfer="http://localhost:8080/{{User._id}}/customerhistory"
                            class="menu__body-sublist-item {{activeItemMenu activeCustomerHistory}}">Lịch sử dịch vụ
                        </div>
                    </div>
                </div>
                <div class="menu__body-item ">
                    <button class="menu__body-mainlist {{activeMainMenu activeEmployee}} "{{checkPermission Permissions 3}} type="button"
                        data-toggle="collapse" data-target="#menu__body-sublist-employee">
                        <span class="menu__body-mainlist-icon ti-id-badge"></span>
                        <div class="menu__body-mainlist-name">Quản nhân viên</div>
                        <span class="menu__body-mainlist-icon-expand ti-angle-left"></span>
                    </button>
                    <div class="menu__body-sublist collapse {{expandSubMenu activeEmployee}}"
                        id="menu__body-sublist-employee">
                        <div data-transfer="http://localhost:8080/{{User._id}}/employeeList"
                            class="menu__body-sublist-item {{activeItemMenu activeList}}">Danh sách nhân viên</div>
                        <div data-transfer="http://localhost:8080/{{User._id}}/employeeManagerment"
                            class="menu__body-sublist-item {{activeItemMenu activeManager}}">Nghỉ và vi phạm</div>
                        <div data-transfer="http://localhost:8080/{{User._id}}/employeeSalary"
                            class="menu__body-sublist-item {{activeItemMenu activeSalary}}">Lương</div>
                        <div data-transfer="http://localhost:8080/{{User._id}}/employeeTag"
                            class="menu__body-sublist-item {{activeItemMenu activeTag}}">Quản lý chức vụ</div>
                        <div data-transfer="http://localhost:8080/{{User._id}}/rules"
                            class="menu__body-sublist-item {{activeItemMenu activeRule}}">Quản lý quy định</div>
                        <div data-transfer="http://localhost:8080/{{User._id}}/register"
                            class="menu__body-sublist-item {{activeItemMenu activeAccountManager}}">Quản lý tài khoản</div>
                    </div>
                </div>
                <div class="menu__body-item">
                    <button class="menu__body-mainlist {{activeMainMenu activeManagementWarehouse}} "{{checkPermission Permissions 4}} type="button"
                        data-toggle="collapse" data-target="#menu__body-sublist-management-warehouse">
                        <span class="menu__body-mainlist-icon ti-package"></span>
                        <div class="menu__body-mainlist-name">Quản lý kho</div>
                        <span class="menu__body-mainlist-icon-expand ti-angle-left"></span>
                    </button>
                    <div class="menu__body-sublist collapse {{expandSubMenu activeManagementWarehouse}} "
                        id="menu__body-sublist-management-warehouse">
                        <div data-transfer="http://localhost:8080/{{User._id}}/supplier"
                            class="menu__body-sublist-item {{activeItemMenu activeSupplier}}">Danh sách nhà cung cấp</div>
                        <div data-transfer="http://localhost:8080/{{User._id}}/material"
                            class="menu__body-sublist-item {{activeItemMenu activeMaterial}}">Danh sách vật tư</div>
                        <div data-transfer="http://localhost:8080/{{User._id}}/import"
                            class="menu__body-sublist-item {{activeItemMenu activeImport}}">Nhập kho</div>
                        <div data-transfer="http://localhost:8080/{{User._id}}/export"
                            class="menu__body-sublist-item {{activeItemMenu activeExport}}">Xuất kho</div>
                    </div>
                </div>
                <div class="menu__body-item">
                    <button class="menu__body-mainlist {{activeMainMenu activeManagementReport}} "{{checkPermission Permissions 5}} type="button"
                        data-toggle="collapse" data-target="#menu__body-sublist-management-report">
                        <span class="menu__body-mainlist-icon ti-bar-chart"></span>
                        <div class="menu__body-mainlist-name">Báo cáo thống kê</div>
                        <span class="menu__body-mainlist-icon-expand ti-angle-left"></span>
                    </button>
                    <div class="menu__body-sublist collapse {{expandSubMenu activeManagementReport}}"
                        id="menu__body-sublist-management-report">
                        <div data-transfer="http://localhost:8080/{{User._id}}/reportsale"
                            class="menu__body-sublist-item {{activeItemMenu activeReportSale}}">Báo cáo doanh thu</div>
                        <div data-transfer="http://localhost:8080/{{User._id}}/reportinventory"
                            class="menu__body-sublist-item {{activeItemMenu activeReportInventory}}">Báo cáo tồn</div>
                    </div>
                </div>
                <div class="menu__body-item">
                    <button class="menu__body-mainlist {{activeMainMenu activeSetting}} "{{checkPermission Permissions 6}} type="button" id="setting"
                        data-transfer="http://localhost:8080/{{User._id}}/setting">
                            <span class="menu__body-mainlist-icon ti-home"></span>
                            <div class="menu__body-mainlist-name">Cài đặt</div>
                    </button>
                </div>
            </div>
        </div>
        <div class="contain">
            {{{body}}}
        </div>
    </div>
    <form method="GET" name="form-transfer" hidden></form>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    

    <script src="/validator/validator.js"></script>
    <script src="/table2excel/table2excel.js"></script>
    <script src="/convert/numberToVND.js"></script>

    
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // LOAD DỮ LIỆU LÚC ĐẦU

        var btnMainMenu = $('.menu__body-item')
        for (var item of btnMainMenu)
        {
            if (item.querySelector('.menu__body-sublist')) {
                if (item.querySelector('.menu__body-sublist').classList.contains('show'))
                item.querySelector('.menu__body-mainlist-icon-expand').style.transform = "rotate(-90deg)"
                else  item.querySelector('.menu__body-mainlist-icon-expand').style.transform = "rotate(0deg)"
            }
            
        }
        var btnMain = $('.menu__body-mainlist')
        btnMain.click(function(){
            if (this.parentElement.querySelector('.menu__body-sublist')) { 
                if (this.querySelector('.menu__body-mainlist-icon-expand').style.transform == "rotate(-90deg)")
                this.querySelector('.menu__body-mainlist-icon-expand').style.transform = "rotate(0deg)"
                else  this.querySelector('.menu__body-mainlist-icon-expand').style.transform = "rotate(-90deg)"
            }
            
        })

        // CHUYỂN TRANG
        var btnItem = $('.menu__body-sublist-item')
        var formTransfer = document.forms['form-transfer']
        btnItem.click(function () {
            formTransfer.action = this.getAttribute('data-transfer')
            formTransfer.submit()
        })

        var btnDashboard = document.querySelector('#dash-board')
        btnDashboard.onclick = function() {
            formTransfer.action = btnDashboard.getAttribute('data-transfer')
            formTransfer.submit()
        }

        var btnSetting = document.querySelector('#setting')
        btnSetting.onclick = function() {
            formTransfer.action = btnSetting.getAttribute('data-transfer')
            formTransfer.submit()
        }
    })
</script>

</html>