<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {{!-- <link rel="stylesheet" href="/vendor/open-iconic-master/font/css/open-iconic-bootstrap.css"> --}}
    <link rel="stylesheet" href="/font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="app">   
        <div class="menu">
            <div class="menu__body" >
                <div class="menu__body-item">
                    <button class="menu__body-mainlist {{activeMainMenu activeManagementCar}} " type="button" data-toggle="collapse" data-target="#menu__body-sublist-quanlyxe"
                        >
                        <span class="menu__body-mainlist-icon ti-car"></span>
                        <div class="menu__body-mainlist-name">Quản lý xe</div>
                        <span class="menu__body-mainlist-icon-expand ti-angle-left"></span>
                    </button>
                    <div class="menu__body-sublist collapse {{expandSubMenu activeManagementCar}}" id="menu__body-sublist-quanlyxe">
                        <div class="menu__body-sublist-item {{activeItemMenu activeReception}}">Tiếp nhận xe</div>
                        <div class="menu__body-sublist-item {{activeItemMenu activeRepair}}">Theo dõi sửa chữa</div>
                        <div class="menu__body-sublist-item {{activeItemMenu activeBrand}}">Quản lý hiệu xe</div>
                    </div>
                </div>
                <div class="menu__body-item">
                    <button class="menu__body-mainlist {{activeMainMenu activeManagementCustomer}}" type="button" data-toggle="collapse" data-target="#menu__body-sublist-quanlysuachua"
                        >
                        <span class="menu__body-mainlist-icon ti-car"></span>
                        <div class="menu__body-mainlist-name">Quản lý khách hàng</div>
                        <span class="menu__body-mainlist-icon-expand ti-angle-left"></span>
                    </button>
                    <div class="menu__body-sublist collapse" id="menu__body-sublist-quanlysuachua">
                        <div class="menu__body-sublist-item">Danh sách khách hàng</div>
                        <div class="menu__body-sublist-item">Theo dõi công nợ</div>
                        <div class="menu__body-sublist-item">Lịch sử dịch vụ</div>
                    </div>
                </div>
                <div class="menu__body-item">
                    <button class="menu__body-mainlist {{activeMainMenu activeManagementWarehouse}} " type="button" data-toggle="collapse" data-target="#menu__body-sublist-quanlykho"
                        aria-expanded="true" aria-controls="menu__body-sublist-quanlykho">
                        <span class="menu__body-mainlist-icon ti-package"></span>
                        <div class="menu__body-mainlist-name">Quản lý kho</div>
                        <span class="menu__body-mainlist-icon-expand ti-angle-left"></span>
                    </button>
                    <div class="menu__body-sublist collapse" id="menu__body-sublist-quanlykho">
                        <div class="menu__body-sublist-item">Theo dõi sửa chữa</div>
                        <div class="menu__body-sublist-item">Danh sách bệnh án</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contain">
            {{{body}}}
        </div>  
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var btnMainMenu = $('.menu__body-item')

        for (var item of btnMainMenu)
        {
            if (item.querySelector('.menu__body-sublist').classList.contains('show'))
            item.querySelector('.menu__body-mainlist-icon-expand').style.transform = "rotate(-90deg)"
            else  item.querySelector('.menu__body-mainlist-icon-expand').style.transform = "rotate(0deg)"
        }
        

        btnMainMenu.click(function(){
            if (this.querySelector('.menu__body-sublist').classList.contains('show'))
            this.querySelector('.menu__body-mainlist-icon-expand').style.transform = "rotate(0deg)"
            else  this.querySelector('.menu__body-mainlist-icon-expand').style.transform = "rotate(-90deg)"
        })
        
    })
</script>

</html>

