<link rel="stylesheet" href="/css/employeeSalary.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<title>Quản lý tiền công</title>

<div class = "grid__content">
  <header class = "employeeSalary__header">
        <h1 class = "template__title">Quản lý tiền công</h1>
        <h7>1/11/2021 - 30/11/2021</h7>
        <div class="toolbar">
          <div class="toolbar__search">
            <input class="toolbar__search-input" style="padding:.4rem" type="search " id = "searchKey" placeholder="Tìm kiếm thông tin nhân viên" aria-label="Search" onkeyup="search()">
            <span class="ti-search toolbar__search-icon"> </span>
          </div>
          <div class="toolbar__btn">
            <button class="header__btn-add btn btn-primary" data-toggle="modal" data-target="#addModal">Xuất bảng lương</button>
          </div>
        </div>
    </header>
    <body class = "employeeSalary__body">
        <div class = "table-responsive">
            <table class="table table--default employeeSalary__body__table" id ="employeeTable">
                <thead  class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Họ và Tên</th>
                    <th scope="col">Chức vụ</th>
                    <th scope="col">Số tiền phạt</th>
                    <th scope="col">Số thưởng</th>
                    <th scope="col">Lương</th>   
                  </tr>
                </thead>
                <tbody>
                  {{#each data}}
                    <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.item.name}}</td>
                    <td>{{this.item.Tag}}</td>
                    <td>{{this.sum}}</td>
                    <td>2</td>  
                    <td class = "salary">{{this.item.salary}}</td>             
                  </tr>  
                  {{/each}}
              </table> 
        </div>
          
          <!--Info Modal -->
          <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
              <div class="modal-content employeeSalary__body__infoModal">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Tiền công chi tiết (1/11/2021 - 30/11/2021)</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id =  "test">
                  <div class="row">
                    <table class = "infoTable">
                      <tr>
                        <td>
                          <label>ID</label>
                        </td>
                        <td>
                          <p class = "id">nv001</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label>Họ và Tên</label>
                        </td>
                        <td>
                          <p class = "name">Tran Quang Tuan</p>
                        </td>
                      </tr>
                      <tr >
                        <td>
                          <label >Chức vụ</label></td>
                        <td>
                          <p class = "tag">Nhân viên</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label >Tiền công</label></td>
                        <td>
                          <p class = "tag">5.000.000</p>
                        </td>
                      </tr>
                      <tr style="border-bottom: 1px black solid;">
                        <td>
                          <label>Số tiền thưởng</label></td>
                        <td>
                          <input type="text" class="form-control dataStr" style="margin-bottom:.2rem;width:40%; height:50%;font-size:.7rem;padding:.2rem" name="startDate"><label style="float: right; margin-right:.4rem">+</label>
                        </td>
                      </tr>
                      <!--So tien thuong-->
                      
                      <!--So ngay nghi-->
                      <tr>
                        <td>
                          <label >Tổng số ngày nghỉ</label></td>
                        <td>
                          <p class = "tag">5</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label >Số ngày nghỉ có phép</label></td>
                        <td>
                          <p class = "tag">2</p>
                        </td>
                      </tr>
                      <tr style="border-bottom: 1px black solid;">
                        <td>
                          <label >Số ngày nghỉ không phép</label></td>
                        <td>
                          <p class = "tag">3</p>
                        </td>
                      </tr>
                      <!--So lan vi pham-->
                      <tr>
                        <td>
                          <label>Số lần vi phạm</label>
                        </td>
                        <td>
                          <p class = "tag">2</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label >Số tiền phạt</label></td>
                        <td>
                          <p class = "tag">- 200.000</p>
                        </td>
                      </tr>
                    </table>
                    <div style="width: 100%">
                      <label style="float:left; margin: 0 1em;">Lương</label></td>
                      <p style="float:right; font-weight: Bold; margin: 0 1em;" class = "tag">5.000.000</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </body>
</div>


<script>
      var employeeID;
      const employee = {id:"",name:"",address:"",phoneNumber:"",email:"",citizenID:""};
      $('#employeeTable tbody tr').click(function () {
        $("#infoModal").modal();
        //your code
      });
      function search(){
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchKey");
        filter = input.value;
        table = document.getElementById("employeeTable");
        tr = $("tbody tr");
        for (i = 0; i < tr.length; i++) {
          var td1 = tr[i].getElementsByTagName("td")[0];
          if (td1) {
            txtValue = td1.textContent || td1.innerText;
            filter = filter.toUpperCase();
            txtValue = txtValue.toUpperCase();
            if (txtValue.includes(filter)) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }   
        }
      }

      document.addEventListener('DOMContentLoaded', function () {
      
      var tdActive;
      var btnDelete = $('#btn-delete')
      var btnAcceptEdit = $('#btn-accept-edit')
      var formEdit = document.forms['form-edit']
      var formDelete = document.forms['form-delete']
      var btnEdit = $('.btn-edit')
      btnDelete.click(function() {
          formDelete.action ='/employeeList/' + employeeID + '/delete?_method=DELETE'
          formDelete.submit();
      })
      $('#form-edit').on('shown.bs.modal', function (event) {
          var button = $(event.relatedTarget)
          employeeID = button.data('id')
      })
      btnAcceptEdit.click(function() {
        formEdit.action = '/employeeList/' + employeeID + '/edit?_method=PUT'
        formEdit.submit()
      })
      btnEdit.click(function(){
        var row = $(this).parents('tr')[0]
        $('#form-edit-name').val(row.cells[1].textContent)
      })
    });
    </script>