<link rel="stylesheet" href="/css/employeeSalary.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<title>Quản lý tiền công</title>

<div class = "grid__content">
  <header class = "employeeSalary__header">
        <div class="header__breadcrumb">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Lương</a></li>
              </ol>
          </nav>
        </div>  
        <h7>{{firstDate}} - {{lastDate}}</h7>
        <div class="toolbar">
          <div class="search-form">
            <input class="search-input" style="padding:.4rem" type="search " id = "searchKey" placeholder="Tìm kiếm thông tin nhân viên" aria-label="Search">
              <button type="button" class="search-button">
                <span class="ti-search "> </span>
              </button>
            </div>
          <div class="dropdown">
            <form method = "GET" name = "form-info" action = "/{{User._id}}/employeeSalary/SalaryInfo">
              <input type="month" class="form-control dataStr" id = "date" name = "date" value="{{today}}">
            </form>
          </div>
          <button class="header__btn-add btn btn-primary" style="margin-left: .4rem;" id = "btn-change">Xem bảng lương</button>
          <div class="toolbar__btn">
            <button class="header__btn-add btn btn-primary" data-toggle="modal" data-target="#addModal">Xuất bảng lương</button>
          </div>
        </div>
    </header>
    <body class = "employeeSalary__body">
        <div class = "table-responsive">
            <table class="table table--default employeeSalary__body__table" id ="employeeTable">
                <thead  class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Họ và Tên</th>
                    <th scope="col">Chức vụ</th>
                    <th scope="col">Số tiền phạt</th>
                    <th scope="col">Lương</th>   
                  </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr percent = "{{this.item.percent}}" startDate = "{{this.item.startDate}}" salary = "{{this.item.salary}}" 
                    dateoffCount = "{{this.dateOffCount}}" errorCount = "{{this.errorCount}}">
                      <input type="hidden" value="{{this.item._id}}" name = "eIDs">
                      <input type="hidden" value="{{this.item.salary}}" name = "finalSalarys">
                      <th scope="row">{{sum @index 1}}</th>
                      <td id = "name">{{this.item.name}}</td>
                      <td id = "tag">{{this.item.Tag}}</td>
                      <td id = "sum">{{this.fineSum}}</td>
                      <td id = "finalSalary">{{this.finalSalary}}</td>      
                    </tr>
                    {{/each}}
              </table> 
        </div>
          <!--Info Modal -->
          <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
              <div class="modal-content employeeSalary__body__infoModal">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Tiền công chi tiết (1/11/2021 - 30/11/2021)</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id =  "test">
                  <div class="row">
                    <table class = "infoTable">
                      <tr>
                        <td>
                          <label>Họ và Tên</label>
                        </td>
                        <td>
                          <p class = "name" id = "i_name"></p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label >Chức vụ</label></td>
                        <td>
                          <p class = "tag" id = "i_tag"></p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label >Hệ số tăng lương</label></td>
                        <td>
                          <p class = "tag" id = "i_percent"></p>
                        </td>
                      </tr>
                      <trstyle="border-bottom: 1px black solid;">
                        <td>
                          <label >Tiền công</label></td>
                        <td>
                          <p class = "salary" id = "i_salary"></p>
                        </td>
                      </tr>
                      <!--So tien thuong-->
                      
                      <!--So ngay nghi-->
                      <tr>
                        <td>
                          <label >Tổng số ngày nghỉ</label></td>
                        <td>
                          <p class = "tag" id = "i_dateoffCount"></p>
                        </td>
                      </tr>
                      <!--So lan vi pham-->
                      <tr>
                        <td>
                          <label>Số lần vi phạm</label>
                        </td>
                        <td>
                          <p class = "tag" id = "i_errorCount">2</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label >Số tiền phạt</label></td>
                        <td>
                          <p class = "tag" id = "i_errorSum"></p>
                        </td>
                      </tr>
                    </table>
                    <div style="width: 100%">
                      <label style="float:left; margin: 0 1em;"><strong>Lương</strong></label></td>
                      <p style="float:right; font-weight: Bold; margin: 0 1em;" class = "tag" id = "i_finalSalary"></p>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                  <button type="button" class="btn btn-primary" id = "btn-accept-edit">Lưu</button>
                </div>
              </div>
            </div>
          </div>
    </body>
    
</div>


<script>
      
      document.addEventListener('DOMContentLoaded', function () {
      var flat = true;
      var formatter = new Intl.NumberFormat('vi-VN', {
            style: 'currency',
            currency: 'VND',
        });
      function salaryCal(salary,bonus,errorSum){
        salary = salary.replaceAll('.','')
        salary = salary.replace('₫','')
        bonus = bonus.replaceAll('.','')
        bonus = bonus.replace('₫','')
        errorSum = errorSum.replaceAll('.','')
        errorSum = errorSum.replace('₫','')
        errorSum = errorSum.replace('-','')
        var rs = parseInt(salary) + parseInt(bonus) - parseInt(errorSum);
        rs = formatter.format(Math.round(rs/1000)*1000);
          return rs;
      }
      const employee = {id:"",name:"",address:"",phoneNumber:"",email:"",citizenID:""};
      $('#employeeTable tbody tr').click(function () {
        $('#i_name').text($(this).closest("tr").find("#name").text());
        $('#i_tag').text($(this).closest("tr").find("#tag").text());
        $('#i_salary').text($(this).attr('salary'));
        $('#i_bonus').val($(this).closest("tr").find("#bonus").text());
        $('#i_errorSum').text($(this).closest("tr").find("#sum").text());
        $('#i_dateoffCount').text($(this).closest("tr").attr("dateoffCount"));
        $('#i_errorCount').text($(this).closest("tr").attr("errorCount"));
        $('#i_percent').text($(this).closest("tr").attr("percent"));
        $("#infoModal").modal();
        $('#i_finalSalary').text($(this).closest("tr").find("#finalSalary").text());
      });
      $("#searchKey").change(function(){
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchKey");
        filter = input.value;
        table = document.getElementById("employeeTable");
        tr = $("tbody tr");
        for (i = 0; i < tr.length; i++) {
          var td1 = tr[i].getElementsByTagName("td")[0];
          if (td1) {
            txtValue = td1.textContent || td1.innerText;
            filter = filter.toUpperCase();
            txtValue = txtValue.toUpperCase();
            if (txtValue.includes(filter)) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }   
        }
      })
      

      var tdActive;
      var btnChange = $('#btn-change')
      var formGetInfo = document.forms['form-info']
      var btnAcceptEdit = $('#btn-accept-edit')
      var formEdit = document.forms['form-edit']
      btnChange.click(function() {
        formGetInfo.submit()
      })
    });
    </script>