<link rel="stylesheet" href="/css/employeeSalary.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<title>Quản lý tiền công</title>

<div class = "grid__content">
  <header class = "employeeSalary__header">
        <h1 class = "template__title">Quản lý tiền công</h1>
        <h7>1/11/2021 - 30/11/2021</h7>
        <div class="toolbar">
          <div class="toolbar__search">
            <input class="toolbar__search-input" style="padding:.4rem" type="search " id = "searchKey" placeholder="Tìm kiếm thông tin nhân viên" aria-label="Search" onkeyup="search()">
            <span class="ti-search toolbar__search-icon"> </span>
          </div>
          <div class="dropdown">
            <input type="month" class="form-control dataStr" name="month" id = "n_startDate">
            
          </div>
          <button class="header__btn-add btn btn-primary" data-toggle="modal" data-target="#addModal">Xem bảng lương</button>
          <div class="toolbar__btn">
            <button class="header__btn-add btn btn-primary" data-toggle="modal" data-target="#addModal">Xuất bảng lương</button>
          </div>
        </div>
    </header>
    <body class = "employeeSalary__body" onload="check()">
        <div class = "table-responsive">
            <table class="table table--default employeeSalary__body__table" id ="employeeTable">
                <thead  class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Họ và Tên</th>
                    <th scope="col">Chức vụ</th>
                    <th scope="col">Số tiền phạt</th>
                    <th scope="col">Số thưởng</th>
                    <th scope="col">Lương</th>   
                  </tr>
                </thead>
                <tbody>
                  <form method="POST" action="/employeeSalary/save" name = "form-edit">
                    <input type="hidden" value="2021-12-08" name = "date">
                    {{#each data}}
                    <tr percent = "{{this.item.percent}}" startDate = "{{this.item.startDate}}">
                      <input type="hidden" value="{{this.item._id}}" name = "eIDs">
                      <input type="hidden" value="{{this.item.salary}}" name = "finalSalarys">
                      <th scope="row">{{sum @index 1}}</th>
                      <td id = "name">{{this.item.name}}</td>
                      <td id = "tag">{{this.item.Tag}}</td>
                      <td id = "sum">{{this.fineSum}}</td>
                      <td id = "bonus">{{this.item.bonus}}</td>  
                      <td id = "salary">{{this.item.salary}}</td>             
                    </tr>
                    {{/each}}
                  </form>
              </table> 
        </div>
          <!--Add Modal -->
          <form method="POST" action="/employeeSalary/create">
            <div class="modal fade " id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered infoModal" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Thêm bảng lương</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id =  "test">
                  <form>
                    <div class="form-group">
                      <label for="reception-add-lincense" class="col-form-label">Tháng:</label>
                      <input type="month" class="form-control dataStr" name="month" id = "n_startDate">
                      {{#each data}}
                        <input type="hidden" value="{{this.item._id}}" name = "eIDs">
                        <input type="hidden" value="" name = "finalSalarys">
                      {{/each}}
                      </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                  <button type="summit" class="btn btn-primary" onclick="add()">Thêm</button>
                </div>
              </div>
            </div>
          </div>
          </form>
          <!--Info Modal -->
          <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
              <div class="modal-content employeeSalary__body__infoModal">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Tiền công chi tiết (1/11/2021 - 30/11/2021)</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id =  "test">
                  <div class="row">
                    <table class = "infoTable">
                      <tr>
                        <td>
                          <label>Họ và Tên</label>
                        </td>
                        <td>
                          <p class = "name" id = "i_name"></p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label >Chức vụ</label></td>
                        <td>
                          <p class = "tag" id = "i_tag"></p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label >Hệ số tăng lương</label></td>
                        <td>
                          <p class = "tag" id = "i_percent"></p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label >Tiền công</label></td>
                        <td>
                          <p class = "salary" id = "i_salary"></p>
                        </td>
                      </tr>
                      <tr style="border-bottom: 1px black solid;">
                        <td>
                          <label>Số tiền thưởng</label></td>
                        <td>
                          <input type="text" class="form-control dataStr" style="margin-bottom:.2rem;width:40%; height:50%;font-size:.7rem;padding:.2rem; text-align:right" name="startDate" id = "i_bonus">
                          <label style="float: right; margin-right:.4rem">+</label>
                        </td>
                      </tr>
                      <!--So tien thuong-->
                      
                      <!--So ngay nghi-->
                      <tr>
                        <td>
                          <label >Tổng số ngày nghỉ</label></td>
                        <td>
                          <p class = "tag">5</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label >Số ngày nghỉ có phép</label></td>
                        <td>
                          <p class = "tag" id = "i_cpCount">2</p>
                        </td>
                      </tr>
                      <tr style="border-bottom: 1px black solid;">
                        <td>
                          <label >Số ngày nghỉ không phép</label></td>
                        <td>
                          <p class = "tag" id = "i_kpCount">3</p>
                        </td>
                      </tr>
                      <!--So lan vi pham-->
                      <tr>
                        <td>
                          <label>Số lần vi phạm</label>
                        </td>
                        <td>
                          <p class = "tag" id = "i_errorCount">2</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label >Số tiền phạt</label></td>
                        <td>
                          <p class = "tag" id = "i_errorSum">- 200.000</p>
                        </td>
                      </tr>
                    </table>
                    <div style="width: 100%">
                      <label style="float:left; margin: 0 1em;"><strong>Lương</strong></label></td>
                      <p style="float:right; font-weight: Bold; margin: 0 1em;" class = "tag" id = "i_finalSalary">5.000.000</p>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                  <button type="button" class="btn btn-primary" id = "btn-accept-edit">Lưu</button>
                </div>
              </div>
            </div>
          </div>
    </body>
</div>


<script>
      var formatter = new Intl.NumberFormat('vi-VN', {
            style: 'currency',
            currency: 'VND',
        });
      function salaryCal(salary,bonus,errorSum){
        salary = salary.replaceAll('.','')
        salary = salary.replace('₫','')
        bonus = bonus.replaceAll('.','')
        bonus = bonus.replace('₫','')
        errorSum = errorSum.replaceAll('.','')
        errorSum = errorSum.replace('₫','')
        errorSum = errorSum.replace('-','')
        var rs = parseInt(salary) + parseInt(bonus) - parseInt(errorSum);
        rs = formatter.format(Math.round(rs/1000)*1000);
          return rs;
      }
      const employee = {id:"",name:"",address:"",phoneNumber:"",email:"",citizenID:""};
      $('#employeeTable tbody tr').click(function () {
        $('#i_name').text($(this).closest("tr").find("#name").text());
        $('#i_tag').text($(this).closest("tr").find("#tag").text());
        $('#i_salary').text($(this).closest("tr").find("#salary").text());
        $('#i_bonus').val($(this).closest("tr").find("#bonus").text());
        $('#i_sum').text('- '+ $(this).closest("tr").find("#sum").text());
        $('#i_percent').text($(this).closest("tr").attr("percent"));
        $("#infoModal").modal();
        $('#i_finalSalary').text(salaryCal(
          $(this).closest("tr").find("#salary").text(),
          $(this).closest("tr").find("#bonus").text(),
          $(this).closest("tr").find("#sum").text()));
        //your code
      });
      $('#i_bonus').change(function(){
        var temp = $('#i_bonus').val();
        temp = temp.replaceAll('.','')
        temp = temp.replace('₫','')
        temp = formatter.format(temp);
        $('#i_bonus').val(temp);
        $('#i_finalSalary').text(salaryCal(
          $('#i_salary').text(),
          $('#i_bonus').val(),
          $('#i_errorSum').text()));
      });
      function check(){
        var dt = new Date();
        var temp = dt.getDate() + '-' + (dt.getMonth() + 1).toString() + '-' + dt.getFullYear();
        //alert(temp)
      }
      function search(){
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchKey");
        filter = input.value;
        table = document.getElementById("employeeTable");
        tr = $("tbody tr");
        for (i = 0; i < tr.length; i++) {
          var td1 = tr[i].getElementsByTagName("td")[0];
          if (td1) {
            txtValue = td1.textContent || td1.innerText;
            filter = filter.toUpperCase();
            txtValue = txtValue.toUpperCase();
            if (txtValue.includes(filter)) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none"; 
            }
          }   
        }
      }

      document.addEventListener('DOMContentLoaded', function () {
      
      var tdActive;
      var btnAcceptEdit = $('#btn-accept-edit')
      var formEdit = document.forms['form-edit']
      $('#form-edit').on('shown.bs.modal', function (event) {
          var button = $(event.relatedTarget)
          employeeID = button.data('id')
      })
      btnAcceptEdit.click(function() {
        formEdit.action = '/employeeSalary/edit?_method=PUT'
        formEdit.submit()
      })
      btnEdit.click(function(){
        var row = $(this).parents('tr')[0]
        $('#form-edit-name').val(row.cells[1].textContent)
      })
    });
    </script>