
{{!-- Modal thêm phiếu xuất kho --}}
<div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form action="export/create" method="POST" id="form-add" name="form-add">
      <div class="modal-header">
        <h5 class="modal-title">Thêm phiếu xuất kho</h5>
        <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="p-2 row">
            <label for="" class="col-3 col-form-label">Phiếu sửa chữa</label>
            <div class="col-9 form-group">
              <select class="form-control" name="of_repair" id="add-repair">
                <option>-- Phiếu sửa chữa --</option>
                {{#each repairs}}
                <option value="{{this._id}}">{{this.license}}</option>
                {{/each}}
              </select>
              <span class="form-message"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn--send-dialog">Thêm</button>
      </div>
      </form>
    </div>
  </div>
</div>



{{!-- Modal xuất kho --}}
<div class="modal fade" id="exportModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Xuất kho</h5>
            <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          </div>
          <div class="modal-body">Xác nhận xuất kho</div>
          <div class="modal-footer">
            <button type="button" class="btn btn--send-dialog" id="btnModalExport">Xác nhận</button>
            <button type="button" class="btn btn--close-dialog" data-bs-dismiss="modal">Đóng</button>
          </div>
        </div>
      </div>
</div>


{{!-- Danh sách phiếu xuất kho --}}
<div class="grid__content">
  <div class="header__breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Danh sách phiếu xuất kho</a></li>
        </ol>
    </nav>
  </div>
<div class="toolbar">
    <div class="toolbar__search">
        <div class="search-form">
          <input type="search" value="" placeholder="Tìm kiếm" class="search-input" id="search-input">
          <button type="button" class="search-button">
            <span class="ti-search "> </span>
          </button>
        </div>
    </div>
    <div class="toolbar__filter"></div>
    <div class="toolbar__btn">
        <button class="toolbar__btn-add btn btn-primary" data-toggle="modal" data-target="#addModal">Tạo phiếu xuất kho</button>
    </div>
</div>

<table class="table table--default">
  <thead class="thead-dark"> 
    <tr>
      <th scope="col">Mã sửa chữa</th>  
      <th scope="col">Ngày tạo phiếu</th>
      <th scope="col">Trạng thái</th>
      <th scope="col" colspan="2">Thao tác</th>
    </tr>
  </thead>
  <tbody id="table-data">
    {{#each vouchers}}
      <tr>
        <td>{{this.of_repair}}</td>
        <td>{{this.createdAt}}</td>
        <td scope="row">
          <div class="{{isExportedStyle this.exported}}">{{isExportedStatus this.exported}}</div>
        </td>
        <td>
          <button class="btn--export-item" data-id="{{this._id}}" {{isDisable this.exported}} data-bs-toggle="modal" data-bs-target="#exportModal">Xuất kho</button>
          <button class="btn--view-item" data-id="{{this._id}}">Xem</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>


<form name="form-view" method="GET" action=""></form>
<form name="form-export" method="POST" action=""></form>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"
></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {

    $(document).ready(function () {
        $('#search-input').on('keyup', function (event) {
        event.preventDefault();
        /* Act on the event */
        var keyword = $(this).val().toLowerCase();
        $('#table-data tr').filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(keyword) > -1);
        });
        });
    });

    Validator({
      form: '#form-add',
      errorSelector: '.form-message',
      rules: [
        Validator.isRequireSelectBox('#add-repair', '-- Phiếu sửa chữa --', 'Vui lòng chọn phiếu sửa chữa'),
      ],
      onSubmit: function () {
        formAdd.action = 'export/create'
        formAdd.submit()
      }
    })

    var tableData = document.getElementById('table-data').rows
    for(var row of tableData) {
      var date = new Date(Date.parse(row.cells[1].textContent))
      row.cells[1].textContent = `${date.getDate()}/${date.getMonth()}/${date.getFullYear()}`
    }

    var btnExport = document.querySelectorAll('.btn--export-item')
    var btnView = document.querySelectorAll('.btn--view-item')
    var btnModalExport = document.getElementById('btnModalExport')
    var formAdd = document['form-add']
    var formView = document['form-view']
    var formExport = document['form-export']

    for(var item of btnView) {
      item.onclick = function () {
        var voucherID = this.getAttribute('data-id')
        formView.action = 'export/detail/' + voucherID
        formView.submit()
      }
    }

    for(var item of btnExport) {
      item.onclick = function () {
        var voucherID = this.getAttribute('data-id')
        btnModalExport.setAttribute('data-id', voucherID)
      }
    }

    btnModalExport.onclick = function () {
      var voucherID = this.getAttribute('data-id')
      formExport.action = `${window.location.pathname}/${voucherID}/export/?_method=PUT`
      formExport.submit()
    }
  })
</script>