{{!-- Modal xuất kho --}}
<div class="modal fade" id="exportModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Nhập kho</h5>
            <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">Xác nhận xuất kho</div>
          <div class="modal-footer">
            <button type="button" class="btn btn--send-dialog" id="btnModalExport">Xác nhận</button>
            <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
          </div>
        </div>
      </div>
</div>

<div class="grid__content">
  <div class="header__breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/{{User._id}}/export">Danh sách phiếu xuất kho</a></li>
            <li class="breadcrumb-item"><a href="#">Danh sách vật tư</a></li>
        </ol>
    </nav>
  </div>

  <div class="import-detail">
    <div class="info-group">
      <label for="">Mã phiếu xuất kho:</label>
      <label>{{voucher._id}}</label>
    </div>
    <div class="info-group">
      <label for="">Mã sửa chữa:</label>
      <label>{{voucher.of_repair._id}}</label>
    </div>
    <div class="info-group">
      <label for="">Ngày tạo phiếu:</label>
      <label id="create-date">{{voucher.createdAt}}</label>
    </div>
    <div class="info-group">
      <label for="">Ngày xuất kho:</label>
      <label id="export-date">{{voucher.updatedAt}}</label>
    </div>
  </div>

  <div class="toolbar">
      <div class="toolbar__search">
          <div class="search-form">
          <input type="search" value="" placeholder="Tìm kiếm" class="search-input" id="search-input">
          <button type="button" class="search-button">
            <span class="ti-search "> </span>
          </button>
        </div>
      </div>
      <div class="toolbar__filter"></div>
      <div class="toolbar__btn">
          <button class="toolbar__btn-add btn btn-primary" {{isDisable voucher.exported}} data-toggle="modal" data-target="#exportModal">Xuất kho</button>
      </div>
  </div>

  <table class="table table--default" id="material-list">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Tên vật tư</th>
        <th scope="col">Số lượng</th>
        <th scope="col">Giá bán</th>
      </tr>
    </thead>
    <tbody id="table-data">
      {{#each details}}
        <tr>
          <td>{{this.material_name}}</td>
          <td>{{this.amount}}</td>
          <td>{{this.sell_price}}đ</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"
></script>

<form name="form-export" method="POST" action="{{voucher._id}}/export/?_method=PUT"></form>

<script>
  document.addEventListener('DOMContentLoaded', function () { 

    $(document).ready(function () {
        $('#search-input').on('keyup', function (event) {
        event.preventDefault();
        /* Act on the event */
        var keyword = $(this).val().toLowerCase();
        $('#table-data tr').filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(keyword) > -1);
        });
        });
    });

    var createDateLabel = document.getElementById('create-date').innerHTML
    var exportDateLabel = document.getElementById('export-date').innerHTML
    var createDate = new Date(Date.parse(createDateLabel))
    var exportDate = new Date(Date.parse(exportDateLabel))

    document.getElementById('create-date').innerHTML = `${createDate.getDate()}/${createDate.getMonth()}/${createDate.getFullYear()}`
    document.getElementById('export-date').innerHTML = `${exportDate.getDate()}/${exportDate.getMonth()}/${exportDate.getFullYear()}`

    var btnModalExport = document.getElementById('btnModalExport')
    var formExport = document.forms['form-export']

    btnModalExport.onclick = function () {
      formExport.submit()
    }
  })
</script>