
{{!-- Modal thêm phiếu nhập kho --}}
<div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form action="import/create" method="POST" id="form-add" name="form-add">
      <div class="modal-header">
        <h5 class="modal-title">Thêm phiếu nhập kho</h5>
        <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid"> 
          <div class="p-2 row">
            <label for="" class="col-3 col-form-label">Nhà cung cấp</label>
            <div class="col-9 form-group">
              <select class="form-control" name="of_supplier" id="add-supplier">
                <option>-- Nhà cung cấp --</option>
                {{#each suppliers}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
              </select>
              <span class="form-message"></span>
            </div>
          </div>
          <div class="p-2 row">
            <label for="" class="col-3 col-form-label">Ngày nhập kho</label>
            <div class="col-9">
              <input type="date" class="form-control" id="add-date" name="import_date"/>
              <span class="form-message"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn--send-dialog">Thêm</button>
      </div>
      </form>
    </div>
  </div>
</div>


{{!-- Modal sửa thông tin phiếu nhập kho --}}
<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form method="POST" name="form-edit" id="form-edit">
      <div class="modal-header">
        <h5 class="modal-title">Sửa thông tin phiếu nhập kho</h5>
        <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="p-2 row">
            <label for="" class="col-3 col-form-label">Nhà cung cấp</label>
            <div class="col-9 form-group">
              <select class="form-control" name="of_supplier" id="edit-supplier">
                <option>-- Nhà cung cấp --</option>
                {{#each suppliers}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
              </select>
              <span class="form-message"></span>
            </div>
          </div>
          <div class="p-2 row">
            <label for="" class="col-3 col-form-label">Ngày nhập kho</label>
            <div class="col-9">
              <input type="date" class="form-control" id="edit-date" name="import_date"/>
              <span class="form-message"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn--close-dialog" data-bs-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn--send-dialog" id="btnModalEdit">Sửa</button>
      </div>
      </form>
    </div>
  </div>
</div>

{{!-- Modal xóa phiếu nhập kho --}}
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Xóa phiếu nhập kho</h5>
            <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">Bạn có chắc chắn muốn xóa?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn--delete-dialog" id="btnModalDelete">Xóa</button>
            <button type="button" class="btn btn--close-dialog" data-bs-dismiss="modal">Đóng</button>
          </div>
        </div>
      </div>
</div>


{{!-- Danh sách phiếu nhập kho --}}

<div class="grid__content">
  <div class="header__breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Danh sách phiếu nhập kho</a></li>
        </ol>
    </nav>
  </div>
<div class="toolbar">
    <div class="toolbar__search">
        <div class="search-form">
          <input type="search" value="" placeholder="Tìm kiếm" class="search-input" id="search-input">
          <button type="button" class="search-button">
            <span class="ti-search "> </span>
          </button>
        </div>
    </div>
    <div class="toolbar__filter"></div>
    <div class="toolbar__btn">
        <button class="toolbar__btn-add btn btn-primary" data-toggle="modal" data-target="#addModal">Tạo phiếu nhập kho</button>
    </div>
</div>

<table class="table " id="import-list">
  <thead class="thead-dark"> 
    <tr>
      <th scope="col">Nhà cung cấp</th>
      <th scope="col">Ngày nhập kho</th>
      <th scope="col">Nhân viên phụ trách</th>
      <th scope="col">Tổng tiền</th>
      <th scope="col">Trạng thái</th>
      <th scope="col" colspan="3">Thao tác</th>
    </tr>
  </thead>
  <tbody id="table-data">
    {{#each vouchers}}
      <tr>
        <td>{{this.of_supplier.name}}</td>
        <td>{{this.import_date}}</td>
        <td>{{this.of_employee.name}}</td>
        <td>{{this.total_price}}</td>
        <td scope="row">
          <div class="{{isImportedStyle this.imported}}">{{isImportedStatus this.imported}}</div>
        </td>
        <td>
          <button class="btn--view-item" data-id="{{this._id}}">Xem</button>
          <button class="btn--edit-item" data-id="{{this._id}}" {{isDisable this.imported}} data-bs-toggle="modal" data-bs-target="#editModal">Sửa</button>
          <button class="btn--delete-item" data-id="{{this._id}}" {{isDisable this.imported}} data-bs-toggle="modal" data-bs-target="#deleteModal">Xóa</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>

<form name="form-view" method="GET" action=""></form>
<form name="form-delete" method="POST" action=""></form>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"
></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {

    $(document).ready(function () {
        $('#search-input').on('keyup', function (event) {
        event.preventDefault();
        /* Act on the event */
        var keyword = $(this).val().toLowerCase();
        $('#table-data tr').filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(keyword) > -1);
        });
        });
    });
    // Validate
    Validator({
      form: '#form-add',
      errorSelector: '.form-message',
      rules: [
        Validator.isRequireSelectBox('#add-supplier', '-- Nhà cung cấp --', 'Vui lòng chọn nhà cung cấp'),
        Validator.isRequire('#add-date', 'Vui lòng chọn ngày tạo phiếu nhập kho')
      ],
      onSubmit: function () {
        formAdd.action = 'import/create'
        formAdd.submit()
      }
    })

    Validator({
      form: '#form-edit',
      errorSelector: '.form-message',
      rules: [
        Validator.isRequireSelectBox('#edit-supplier', '-- Nhà cung cấp --', 'Vui lòng chọn nhà cung cấp'),
        Validator.isRequire('#edit-date', 'Vui lòng chọn ngày tạo phiếu nhập kho')
      ],
      onSubmit: function () {
        formEdit.action = 'import/' + voucherID + '/?_method=PUT'
        formEdit.submit()
      }
    })

    var btnView = document.querySelectorAll('.btn--view-item')
    var btnEdit = document.querySelectorAll('.btn--edit-item')
    var btnDelete = document.querySelectorAll('.btn--delete-item')
    var btnModalDelete = document.getElementById('btnModalDelete')
    var btnModalEdit = document.getElementById('btnModalEdit')
    var formAdd = document.forms['form-add']
    var formView = document.forms['form-view']
    var formDelete = document.forms['form-delete']
    var formEdit = document.forms['form-edit']

    var voucherID

    var tableData = document.getElementById('table-data').rows
    for(var row of tableData) {
      var date = new Date(Date.parse(row.cells[1].textContent))
      row.cells[1].textContent = `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`
    }

    for(var item of btnView) {
      item.onclick = function () {
        var voucherID = this.getAttribute('data-id')
        formView.action = 'import/detail/' + voucherID
        formView.submit()
      }
    }
    
    for(var item of btnDelete) {
      item.onclick = function() {
        voucherID = this.getAttribute('data-id')
        btnModalDelete.setAttribute('data-id', voucherID)
      }
    }

    for(var item of btnEdit) {
      item.onclick = function() {
        var rowData = this.parentElement.parentElement
        console.log(rowData.cells[1].textContent)

        document.getElementById('edit-date').value = (new Date(rowData.cells[1].textContent)).toISOString().substring(0,10)

        var selectedSupplier = document.querySelector('#edit-supplier')
        for (var i = 0 ; i < selectedSupplier.options.length ; i++) {
          if (selectedSupplier.options[i].textContent == rowData.cells[0].textContent)
            selectedSupplier.options.item(i).selected = 'selected'
        }

        voucherID = this.getAttribute('data-id')
        btnModalEdit.setAttribute('data-id', voucherID)
      }
    }

    btnModalDelete.onclick = function () {
      voucherID = this.getAttribute('data-id')
      formDelete.action = 'import/' + voucherID + '/delete?_method=DELETE'
      formDelete.submit()
    }

  })
</script>