
{{!-- Modal thêm vật tư --}}
<div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form action="" method="POST" name="form-add" id="form-add">
      <div class="modal-header">
        <h5 class="modal-title">Thêm vật tư</h5>
        <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="p-2 row">
            <label for="" class="col-3 col-form-label">Vật tư</label>
            <div class="col-9 form-group">
              <select class="form-control" name="material" id="add-material">
                <option>-- Loại vật tư --</option>
                {{#each materials}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
              </select>
              <span class="form-message"></span>
            </div>
          </div>
          <div class="p-2 row">
            <label for="" class="col-3 col-form-label">Giá nhập</label>
            <div class="col-9">
              <input type="text" class="form-control" id="add-import-price" name="import_price" />
              <span class="form-message"></span>
            </div>
          </div>
          <div class="p-2 row">
            <label for="" class="col-3 col-form-label">Số lượng</label>
            <div class="col-9"> 
              <input type="text" class="form-control" id="add-amount" name="amount" />
              <span class="form-message"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn--close-dialog" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn--send-dialog">Thêm</button>
      </div>
      </form>
    </div>
  </div>
</div>

{{!-- Modal sửa vật tư --}}
<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form method="POST" name="form-edit" id="form-edit">
      <div class="modal-header">
        <h5 class="modal-title">Sửa vật tư</h5>
        <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="p-2 row">
            <label for="" class="col-3 col-form-label">Vật tư</label>
            <div class="col-9 form-group">
              <select class="form-control" name="material" id="edit-material">
                <option>-- Loại vật tư --</option>
                {{#each materials}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
              </select>
              <span class="form-message"></span>
            </div>
          </div>
          <div class="p-2 row">
            <label for="" class="col-3 col-form-label">Giá nhập</label>
            <div class="col-9">
              <input type="text" class="form-control" id="edit-import-price" name="import_price" />
              <span class="form-message"></span>
            </div>
          </div>
          <div class="p-2 row">
            <label for="" class="col-3 col-form-label">Số lượng</label>
            <div class="col-9">
              <input type="text" class="form-control" id="edit-amount" name="amount" />
              <span class="form-message"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn--close-dialog" data-bs-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn--send-dialog" id="btnModalEdit">Sửa</button>
      </div>
      </form>
    </div>
  </div>
</div>


{{!-- Modal xóa vật tư --}}
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Xóa vật tư</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">Bạn có chắc chắn muốn xóa?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn--delete-dialog" id="btnModalDelete">Xóa</button>
            <button type="button" class="btn btn--close-dialog" data-bs-dismiss="modal">Đóng</button>
          </div>
        </div>
      </div>
</div>

{{!-- Modal nhập kho --}}
<div class="modal fade" id="importModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Nhập kho</h5>
            <button type="button reception__form-btn-close" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">Xác nhận nhập kho</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" id="btnModalImport">Xác nhận</button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Đóng
            </button>
          </div>
        </div>
      </div>
</div>

{{!-- Danh sách vật tư --}}

<div class="grid__content">
  <div class="header__breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/{{User._id}}/import">Danh sách phiếu nhập kho</a></li>
            <li class="breadcrumb-item"><a href="#">Danh sách vật tư</a></li>
        </ol>
    </nav>
  </div>

  <div class="import-detail">
    <div class="info-group">
      <label for="">Nhà cung cấp:</label>
      <label id="label-repair-id">{{voucher.of_supplier.name}}</label>
    </div>
    <div class="info-group">
      <label for="">Ngày nhập kho:</label>
      <label id="import-date">{{voucher.import_date}}</label>
    </div>
    <div class="info-group">
      <label for="">Tổng tiền</label>
      <label id="label-repair-id">{{voucher.total_price}}đ</label>
    </div>
  </div>

  <div class="toolbar">
      <div class="toolbar__search">
          <div class="search-form">
          <input type="search" value="" placeholder="Tìm kiếm" class="search-input" id="search-input">
          <button type="button" class="search-button">
            <span class="ti-search "> </span>
          </button>
        </div>
      </div>
      <div class="toolbar__filter"></div>
      <div class="toolbar__btn">
          <button class="toolbar__btn-add btn btn-primary" {{isDisable voucher.imported}} data-toggle="modal" data-target="#addModal">Thêm vật tư</button>
          <button class="toolbar__btn-add btn btn-primary" {{isDisable voucher.imported}} {{isDisable isEmpty}} data-bs-toggle="modal" data-bs-target="#importModal">Nhập kho</button>
      </div>
  </div>

  <table class="table table--default" id="material-list">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Tên vật tư</th>
        <th scope="col">Số lượng</th>
        <th scope="col">Giá nhập</th>
        <th scope="col" colspan="2">Thao tác</th>
      </tr>
    </thead>
    <tbody id="table-data">
      {{#each details}}
        <tr>
          <td>{{this.material.name}}</td>
          <td>{{this.amount}}</td>
          <td>{{this.import_price}}đ</td>
          <td>
            <button class="btn--edit-item" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#editModal">Sửa</button>
            <button class="btn--delete-item" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#deleteModal">Xóa</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<form name="form-delete" method="POST" action=""></form>
<form name="form-import" method="POST" action=""></form>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"
></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {

    $(document).ready(function () {
        $('#search-input').on('keyup', function (event) {
        event.preventDefault();
        /* Act on the event */
        var keyword = $(this).val().toLowerCase();
        $('#table-data tr').filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(keyword) > -1);
        });
        });
    });

    Validator({
      form: '#form-add',
      errorSelector: '.form-message',
      rules: [
        Validator.isRequireSelectBox('#add-material', '-- Loại vật tư --', 'Vui lòng chọn loại vật tư'),
        Validator.isRequire('#add-import-price', 'Vui lòng nhập giá nhập vật tư'),
        Validator.isNumber('#add-import-price'),
        Validator.isRequire('#add-amount', 'Vui lòng nhập số lượng'),
        Validator.isNumber('#add-amount'),
      ],
      onSubmit: function () {
        formAdd.action = window.location.pathname + '/add'
        formAdd.submit()
      }
    })

    Validator({
      form: '#form-edit',
      errorSelector: '.form-message',
      rules: [
        Validator.isRequireSelectBox('#edit-material', '-- Loại vật tư --', 'Vui lòng chọn loại vật tư'),
        Validator.isRequire('#edit-import-price', 'Vui lòng nhập giá nhập vật tư'),
        Validator.isNumber('#edit-import-price'),
        Validator.isRequire('#edit-amount', 'Vui lòng nhập số lượng'),
        Validator.isNumber('#edit-amount'),
      ],
      onSubmit: function () {
        formEdit.action = `${window.location.pathname}/${detailID}/?_method=PUT`
        formEdit.submit()
      }
    })

    var importDateLabel = document.getElementById('import-date').innerHTML
    var date = new Date(Date.parse(importDateLabel))
    document.getElementById('import-date').innerHTML = `${date.getDate()}/${date.getMonth()}/${date.getFullYear()}`

    var addMaterialForm = document.getElementById('addMaterialForm')
    var btnDelete = document.querySelectorAll('.btn--delete-item')
    var btnEdit = document.querySelectorAll('.btn--edit-item')
    var btnModalDelete = document.getElementById('btnModalDelete')
    var btnModalEdit = document.getElementById('btnModalEdit')
    var btnModalImport = document.getElementById('btnModalImport')
    var formAdd = document['form-add']
    var formDelete = document['form-delete']
    var formEdit = document['form-edit']
    var formImport = document['form-import']

    formImport.action = window.location.pathname + '/?_method=PUT'

    var detailID

    for(var item of btnDelete) {
      item.onclick = function() {
        detailID = this.getAttribute('data-id') 
        btnModalDelete.setAttribute('data-id', detailID)
      }
    }

    for(var item of btnEdit) {
      item.onclick = function() {
        detailID = this.getAttribute('data-id') 
        btnModalEdit.setAttribute('data-id', detailID)

        var rowData = this.parentElement.parentElement
        
        document.getElementById('edit-amount').value = rowData.cells[1].textContent
        document.getElementById('edit-import-price').value = rowData.cells[2].textContent
      }
    }

    btnModalDelete.onclick = function () {
      detailID = this.getAttribute('data-id')
      formDelete.action = `${window.location.pathname}/${detailID}/delete?_method=DELETE`
      formDelete.submit()
    }

    btnModalImport.onclick = function () {
      formImport.submit()
    }

    document.getElementById('search-key').onkeyup = function() {
      var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search-key");
        filter = input.value;
        table = document.getElementById("material-list");
        tr = $("tbody tr");
        for (i = 0; i < tr.length; i++) {
          var td1 = tr[i].getElementsByTagName("td")[0];
          if (td1) {
            txtValue = td1.textContent || td1.innerText;
            filter = filter.toUpperCase();
            txtValue = txtValue.toUpperCase();
            if (txtValue.includes(filter)) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }   
        }
    }
  })
</script>