

{{!-- Modal thêm vật tư --}}

<div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form action="" method="POST">
      <div class="modal-header">
        <h5 class="modal-title">Thêm vật tư</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="p-2 row">
            <label for="" class="col-3 col-form-label">Vật tư</label>
            <div class="col-9 form-group">
              <select class="form-control" name="of_supplier" aria-label="Default select example">
                <option value="null">Nhà cung cấp</option>
                {{#each materials}}
                <option value="{{this._id}}">{{this.name}} - {{this.of_supplier.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="p-2 row">
            <label for="" class="col-3 col-form-label">Số lượng</label>
            <div class="col-9">
              <input type="text" class="form-control" id="" name="amount" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Thêm</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Hủy
        </button>
      </div>
      </form>
    </div>
  </div>
</div>


{{!-- Modal xóa vật tư --}}
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Xóa vật tư</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">Bạn có chắc chắn muốn xóa?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="btnModalDelete">Xóa</button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Đóng
            </button>
          </div>
        </div>
      </div>
</div>

{{!-- Danh sách vật tư --}}
<div class="row">
  <div class="d-grid gap-2 d-flex justify-content-end">
    <button
      type="button"
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#addModal"
    >
      Thêm
    </button>
  </div>
</div>

<table class="table table--default">
  <thead class="thead-dark"> 
    <tr>
      <th scope="col">Tên vật tư</th>
      <th scope="col">Nhà cung cấp</th>
      <th scope="col">Số lượng</th>
      <th scope="col">Giá nhập</th>
      <th scope="col">Giá bán</th>
      <th scope="col" colspan="2">Thao tác</th>
    </tr>
  </thead>
  <tbody>
    {{#each materials_list}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.of_supplier.name}}</td>
        <td>{{this.amount}}</td>
        <td>{{this.import_price}}</td>
        <td>{{this.sell_price}}</td>
        <td>
          <button class="btn--delete-item" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#deleteModal">Xóa</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<form name="form-delete" method="POST" action=""></form>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"
></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    
  })
</script>