<div class="mt-4">
  <div>
    <h3>Khoa hoc cua toi</h3>
    {{#if courseCount}}
    <a href="/me/trash/courses">Thùng rác {{courseCount}}</a>
    {{/if}}
  </div>

  <div class="mt-4 d-flex align-items-center">
    <div class="form-check">
      <input id="checkbox-all" type="checkbox" value="0" class="form-check-input">
      <label for="checkbox-all" class="form-check-label">
        Chọn tất cả
      </label>
    </div>

    <select class="custom-select form-control-sm checkbox-select-all-options" id="">
      <option selected>Choose...</option>
      <option value="delete">Xóa</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>

    <button class="btn btn-primary btn-sm disabled">
      Thực hiện
    </button>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col" colspan="2">#</th>
        <th scope="col">Tên</th>
        <th scope="col" colspan="2">Thời gian tạo</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <td>
          <div class="form-check">
            <input type="checkbox" value="{{this._id}}" name="courseIds[]" class="form-check-input">
          </div>
        </td>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
          <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
            data-target="#delete-course-modal">Xóa</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Bạn chưa đăng khóa học nào.
          <a href="/courses/create">Đăng khóa học tại đây</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{!-- Confirm delete course --}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa khóa học này.</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
{{!-- Delete Form --}}
<form method="POST" name="delete-course-form">



  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var courseId;
      var deleteForm = document.forms['delete-course-form']
      var btnDeleteCourse = document.getElementById('btn-delete-course')
      var checkboxAll = $('#checkbox-all');
      //var checkboxAll = document.getElementById('checkbox-all') 
      var courseItemCheckBox = 
      $('#delete-course-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        courseId = button.data('id')
      })

      btnDeleteCourse.onclick = function () {
        deleteForm.action = '/courses/' + courseId + '?_method=DELETE'
        deleteForm.submit()
      }
      console.log(checkboxAll)
      checkboxAll.change(function() {
        var isCheckedAll = $(this).prop('checked')
      })
    })

  </script>