
<link rel="stylesheet" href="/css/employeeTag.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<title>Quản lý chức vụ</title>
<div class = "grid__content">
  <header class = "employeeTag__header">
        <div class="header__breadcrumb">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Quản lý chức vụ</a></li>
              </ol>
          </nav>
        </div>
        <div class="toolbar">
          <div class="search-form">
            <input class="search-input" style="padding:.4rem" type="search " id = "searchKey" placeholder="Tìm kiếm thông tin nhân viên" aria-label="Search">
              <button type="button" class="search-button">
                <span class="ti-search "> </span>
              </button>
            </div>

          <div class="toolbar__btn">
            <button class="header__btn-add btn btn-primary" data-toggle="modal" data-target="#addModal">Thêm chức vụ</button>
          </div>
        </div>
    </header>
    <body class = "employeeTag__body">
        <div class = "table-responsive">
            <table class="table table--default employeeTag__body__table" id = "tagTable">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" >#</th>
                    <th scope="col" >Chức vụ</th>
                    <th scope="col">Lương</th>
                    <th scope="col">Hệ số tăng lương</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each data}}
                  
                  <tr permission-data = "{{this.item.permissions}}" id-tag = "{{this.item._id}}" >
                    <td class = "count">{{sum @index 1}}</td>
                    <td class = "tag">{{this.item.name}}</td>
                    <td class = "salary">{{this.item.salary}}</td>
                    <td class = "percent">{{this.item.percent}}</td>
                    <td>
                      <button class = "btn--edit-item" >Sửa</i></button>
                      <button class = "btn--delete-item" flat = "{{this.flat}}">Xóa</i></button>
                    </td>

                  </tr>
                  {{/each}}
                  
              </table> 
        </div>
        <!-- add -->
        <form method="POST" action="employeeTag/create" id = "form-add-tag" name = "form-add">
            <div class="modal fade " id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content body__infoModal">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Chi tiết chức vụ</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                      <div class="form-group">
                        <label for="reception-add-lincense" class="col-form-label">Tên chức vụ:</label>
                        <input type="text" class="form-control" name="name"id ="n_tag" >
                        <span class="form-message"></span>
                      </div>
                      <div class="form-group">
                        <label for="reception-add-lincense" class="col-form-label">Lương:</label>
                        <input type="text" class="form-control" name="salary" id = "n_salary">
                        <span class="form-message"></span>
                      </div>
                      <div class="form-group">
                        <label for="reception-add-lincense" class="col-form-label" >Hệ số tăng lương:</label>
                        <input type="text" class="form-control" name="percent" id = "n_percent" placeholder="%/năm">
                        <span class="form-message"></span>
                      </div>
                      <div style="float:left; width: 32%">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="1" name="permissions">
                          <label class="form-check-label" for="flexCheckDefault">
                            Quản lý xe
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="2" name="permissions">
                          <label class="form-check-label" for="flexCheckChecked">
                            Quản lý Khách hàng
                          </label>
                        </div>
                      </div>
                      <div style="float:left; width: 33%">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="3" name="permissions">
                          <label class="form-check-label" for="flexCheckDefault">
                            Quản lý nhân viên
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="4" name="permissions">
                          <label class="form-check-label" for="flexCheckChecked">
                            Quản lý kho
                          </label>
                        </div>
                      </div>
                      <div style="float:left;width: 32%">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="5" name="permissions">
                          <label class="form-check-label" for="flexCheckDefault">
                            Báo cáo
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="6" name="permissions">
                          <label class="form-check-label" for="flexCheckChecked">
                            Quản lý quy định
                          </label>
                        </div>
                      </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                  <button type="summit" class="btn btn-primary">Thêm</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- Modified -->
        <form method="POST" name = "form-edit" action = "" id = "form-edit-tag">
            <div class="modal fade " id="modifiedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content body__infoModal">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Chi tiết chức vụ</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                      <div class="form-group">
                        <label for="reception-add-lincense" class="col-form-label">Tên chức vụ:</label>
                        <input type="text" class="form-control" name="name"  id = "m_tag">
                        <span class="form-message"></span>
                      </div>
                      <div class="form-group">
                        <label for="reception-add-lincense" class="col-form-label">Lương:</label>
                        <input type="text" class="form-control" name="salary"  id = "m_salary" class = "salaryIp">
                        <span class="form-message"></span>
                      </div>
                      <div class="form-group">
                        <label for="reception-add-lincense" class="col-form-label" aria-placeholder="%/năm">Hệ số tăng lương:</label>
                        <input type="text" class="form-control" name="percent" id = "m_percent">
                        <span class="form-message"></span>
                      </div>
                      <div style="float:left; width: 32%">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="1" id="check_1" name="permissions">
                          <label class="form-check-label" for="flexCheckDefault">
                            Quản lý quy định
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="2" id="check_2" name="permissions">
                          <label class="form-check-label" for="flexCheckChecked">
                            Quản lý nhân viên
                          </label>
                        </div>
                      </div>
                      <div style="float:left; width: 33%">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="3" id="check_3" name="permissions">
                          <label class="form-check-label" for="flexCheckDefault">
                            Quản lý dịch vụ
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="4" id="check_4" name="permissions">
                          <label class="form-check-label" for="flexCheckChecked">
                            Quản lý khách hàng
                          </label>
                        </div>
                      </div>
                      <div style="float:left;width: 32%">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="5" id="check_5" name="permissions">
                          <label class="form-check-label" for="flexCheckDefault">
                            Quản lý kho
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="6" id="check_6" name="permissions">
                          <label class="form-check-label" for="flexCheckChecked">
                            Báo cáo
                          </label>
                        </div>
                      </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                  <button type="button" class="btn btn-primary" id = "btn-accept-edit">Lưu</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- Delete -->
        <form name="form-delete" method="POST" action="">
              <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Xóa nhân viên</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <label id = "informLabel">Bạn có chắc chắn muốn xóa chức vụ này không?</label>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger" id="btn-delete">Xóa</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
    </body>
</div>

    <script>
      
      document.addEventListener('DOMContentLoaded', function () {
         var formatter = new Intl.NumberFormat('vi-VN', {
            style: 'currency',
            currency: 'VND',
        });
      var tagID;
      var tdActive;
      var btnDelete = $('#btn-delete')
      var btnAcceptEdit = $('#btn-accept-edit')
      var formAddTag = document.forms['form-add']
      var formEdit = document.forms['form-edit']
      var formDelete = document.forms['form-delete']
      var btnEdit = $('.btn-edit')
      var count = 0;
      
      function increase(){
        count++;
        $('#count').html(count.toString);
      }

      $('#m_percent').change(function() {
        var temp = $('#m_percent').val();
        temp = temp.replace('%','')
        temp = temp+ "%";
        $('#m_percent').val(temp);
      });

      $('#n_percent').change(function() {
        var temp = $('#n_percent').val();
        temp = temp.replace('%','')
        temp = temp+ "%";
        $('#n_percent').val(temp);
      });
      $('#m_salary').change(function() {
        var temp = $('#m_salary').val();
        temp = temp.replaceAll('.','')
        temp = temp.replace('₫','')
        temp = formatter.format(temp);
        $('#m_salary').val(temp);
      });

      $('#n_salary').change(function() {
        var temp = $('#n_salary').val();
        temp = temp.replaceAll('.','')
        temp = temp.replace('₫','')
        temp = formatter.format(temp);
        $('#n_salary').val(temp);
      });

      $("#searchKey").change(function(){
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchKey");
        filter = input.value;
        table = document.getElementById("tagTable");
        tr = $("tbody tr");
        for (i = 0; i < tr.length; i++) {
          var td1 = tr[i].getElementsByTagName("td")[1];
          if (td1) {
            txtValue = td1.textContent || td1.innerText;
            if (txtValue.includes(filter)) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }   
                 
        }
      })
      $(".btn--edit-item").click(function() {

          var data = $(this).closest("tr").attr('permission-data');
          var permission = [];
          var start = 0;
          var pos = pos = data.indexOf(',' ,start);
          while (pos != -1){
            pos = data.indexOf(',' ,start);
            permission.push(data.substr(start,pos-start));
            start = pos +1;
            pos = data.indexOf(',' ,start);
          }
          permission.push(data.substr(start,data.length-start));
          tagID = $(this).closest("tr").attr('id-tag');
          temp = $(this).closest("tr").find(".tag").text();
          $('#m_tag').val($(this).closest("tr").find(".tag").text());
          $('#m_salary').val($(this).closest("tr").find(".salary").text());
          $('#m_percent').val($(this).closest("tr").find(".percent").text());
          permission.forEach(element => {
             var x = "#check_" + (element);
            $(x).attr('checked', 'checked');
          });
          $("#modifiedModal").modal(); 


      });
        Validator({
          form: '#form-add-tag', // id của cái form cần validate
          errorSelector: '.form-message', // tên class để hiện cái lỗi
          rules: [
            Validator.isRequire('#n_tag', 'Vui nhập tên chức vụ'),
            Validator.isRequire('#n_salary', 'Vui nhập lương'),
            Validator.isRequire('#n_percent', 'Vui hệ số tăng lương'),
            Validator.isDuplicate('#n_tag', '#tagTable',1, 'Tên chức vụ đã tồn tại. Vui lòng nhập lại!')
          ],
          onSubmit: function() {
              formAddTag.submit()  
            }
          });


        Validator({
        form: '#form-edit-tag', // id của cái form cần validate
        errorSelector: '.form-message', // tên class để hiện cái lỗi
        rules: [
          Validator.isRequire('#m_tag', 'Vui nhập tên chức vụ'),
          Validator.isRequire('#m_salary', 'Vui nhập lương'),
          Validator.isRequire('#m_percent', 'Vui hệ số tăng lương'),
          Validator.isDuplicate('#m_tag', '#tagTable',1, 'Tên chức vụ đã tồn tại. Vui lòng nhập lại!')
        ],
        onSubmit: function() {
            formAddTag.submit()  
          }
        });
      })
      
      
    
      btnAcceptEdit.click(function() {
        
        formEdit.action = 'employeeTag/' + tagID + '/edit?_method=PUT'
        formEdit.submit()
      })
      

      document.addEventListener('DOMContentLoaded', function () {
      
      
      

      $('#form-edit').on('shown.bs.modal', function (event) {
          var button = $(event.relatedTarget)
          employeeID = button.data('id')
      })
      
      btnEdit.click(function(){
        var row = $(this).parents('tr')[0]
        $('#form-edit-name').val(row.cells[1].textContent)
      })
    });


    //delete

    $(".btn--delete-item").click(function() {
          tagID = $(this).closest("tr").attr('id-tag');
          if ($(this).attr('flat') == 'true')
          $("#deleteModal").modal();
          else
          alert("Tồn tại nhân viên thuộc chức vụ này!!! Vui lòng kiểm tra lại!!!")
      });
      btnDelete.click(function() {
          formDelete.action ='employeeTag/' + tagID + '/delete?_method=DELETE'
          formDelete.submit();
      })


    </script>

    